Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

Initialize version 0.9.7-dev for Performance & Integration release
  src/__init__.py
  version.json
Labels: none

Add comprehensive 0.9.7 roadmap and implementation plan
  0.9.7.todo.md
Labels: Area: Documentation

Fix GitHub Actions release workflow permissions
  .github/workflows/release.yml
Labels: none

Fix GitHub Actions release workflow permissions
  .github/workflows/release.yml
Labels: none

Update release version metadata for production deployment
  version.json
Labels: none

Update documentation and version to 0.9.7-dev with comprehensive cleanup
  README.md
  artists_redesign_screenshot.png
  check_folder_paths.py
  cleanup_themes.py
  comprehensive_test.py
  create_new_themes_api.py
  docs/SCREENSHOTS-NEEDED.md
  docs/index.md
  docs/releases.md
  error_resolution_plan.md
  fix_database_settings.py
  fix_themes_apply.py
  github_pages_current.png
  github_pages_final.png
  github_pages_fixed.png
  index_enhanced.html
  investigate_theme_issues.py
  login.html
  reset_credentials.py
  settings_page.html
  src/__init__.py
  take_artists_screenshot.py
  take_screenshot.py
  temp_downloads_section_backup.html
  test_results_manual.md
  version.json
  videos_header_screenshot.png
Labels: Area: Documentation

Update README.md
  README.md
Labels: Area: Documentation

Update __init__.py
  src/__init__.py
Labels: none

Implement playlist thumbnail assignment functionality
  0.9.7.todo.md
  frontend/static/js/playlists.js
  frontend/templates/playlists.html
  src/api/playlists.py
  src/database/models.py
  version.json
Labels: Area: API, Area: Database, Area: Documentation

Fix playlist thumbnail database column issue
  0.9.7.todo.md
Labels: Area: Documentation

Complete playlist thumbnail system with URL import and file upload
  data/thumbnails/playlists/large/test_1_20250819_212909_b3ab2869_large.jpg
  data/thumbnails/playlists/large/test_1_20250819_212958_af1cd839_large.jpg
  data/thumbnails/playlists/large/test_1_20250819_213253_97e82848_large.jpg
  data/thumbnails/playlists/medium/test_1_20250819_212909_b3ab2869_medium.jpg
  data/thumbnails/playlists/medium/test_1_20250819_212958_af1cd839_medium.jpg
  data/thumbnails/playlists/medium/test_1_20250819_213253_97e82848_medium.jpg
  data/thumbnails/playlists/original/test_1_20250819_212909_b3ab2869_original.jpg
  data/thumbnails/playlists/original/test_1_20250819_212958_af1cd839_original.jpg
  data/thumbnails/playlists/original/test_1_20250819_213253_97e82848_original.jpg
  data/thumbnails/playlists/playlist_test_50c401fc6ba1.png
  data/thumbnails/playlists/small/test_1_20250819_212909_b3ab2869_small.jpg
  data/thumbnails/playlists/small/test_1_20250819_212958_af1cd839_small.jpg
  data/thumbnails/playlists/small/test_1_20250819_213253_97e82848_small.jpg
  frontend/static/js/playlist-detail.js
  frontend/static/js/playlists.js
  frontend/templates/playlist_detail.html
  frontend/templates/playlists.html
  src/api/frontend.py
  src/api/playlists.py
  src/services/thumbnail_service.py
Labels: Area: API, Area: Services

Complete subtitle download fix and video player controls implementation
  frontend/CSS/loading-feedback.css
  frontend/static/js/ui-enhancements.js
  frontend/static/js/video-virtualization-integration.js
  frontend/static/loading-feedback.js
  frontend/static/main.js
  frontend/templates/blacklist.html
  frontend/templates/dashboard.html
  frontend/templates/mvtv.html
  frontend/templates/playlist_detail.html
  frontend/templates/playlists.html
  frontend/templates/settings.html
  frontend/templates/video_detail.html
  frontend/templates/videos.html
  src/api/metube.py
  src/api/videos.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Services

Fix critical user-reported issues and implement login screen enhancement
  frontend/templates/auth/login.html
  frontend/templates/discover.html
  src/api/artists.py
  src/api/videos.py
  src/services/youtube_search_service.py
Labels: Area: API, Area: Services

Implement comprehensive SSL certificate upload/management system (Issue #107)
  frontend/templates/settings.html
  src/api/routes.py
  src/api/security.py
Labels: Area: API

Complete Issue #74: Bulk Operations Backend Implementation
  src/api/bulk_operations.py
Labels: Area: API

Complete Issue #75: Enhanced Artist Discovery and Metadata Enrichment
  frontend/templates/discover.html
  src/api/enhanced_artist_discovery.py
  src/api/routes.py
  src/services/enhanced_artist_discovery_service.py
Labels: Area: API, Area: Services

Fix subtitle display system and video player issues
  frontend/static/js/core.js
  frontend/templates/base.html
  frontend/templates/mvtv.html
  frontend/templates/video_detail.html
  frontend/templates/videos.html
  open_issues.md
  src/api/protected_endpoints.py
  src/api/videos.py
  src/database/import_export_models.py
  src/middleware/simple_auth_middleware.py
  src/services/export_service.py
  src/services/import_service.py
Labels: Area: API, Area: Database, Area: Services, Area: Documentation

Fix MvTV subtitle loading and flake8 error
  frontend/CSS/main.css
  frontend/templates/artist_detail.html
  frontend/templates/mvtv.html
  src/api/artists.py
  src/services/search_presets_service.py
Labels: Area: API, Area: Services

Fix artist metadata 'Update from IMVDb' button issues
  frontend/templates/artist_detail.html
  src/services/imvdb_service.py
Labels: Area: Services

Remove redundant 'Discover Videos' and 'Settings' buttons from artist header
  frontend/templates/artist_detail.html
Labels: none

Fix playlist detail page 'Play All' to play playlist not entire library
  frontend/templates/mvtv.html
Labels: none

Fix YouTube download format availability errors and MvTV JavaScript error
  frontend/templates/mvtv.html
  src/services/ytdlp_service.py
Labels: Area: Services

Make artist names clickable in MvTV player
  frontend/templates/mvtv.html
Labels: none

Make MvTV queue songs clickable to start playing
  frontend/templates/mvtv.html
Labels: none

Add CC controls to MvTV cinematic player
  frontend/templates/mvtv.html
Labels: none

Remove previous button from MvTV cinematic player controls
  frontend/templates/mvtv.html
Labels: none

Fix closed captions not showing in MvTV cinematic mode
  frontend/templates/mvtv.html
Labels: none

Standardize bulk operations button text and icons
  frontend/templates/artist_detail.html
Labels: none

Redesign artist settings page to single-page metadata form
  frontend/templates/artist_detail.html
Labels: none

Enhance cinematic mode CC debugging and functionality
  frontend/templates/mvtv.html
Labels: none

Add comprehensive cinematic subtitle loading debug output
  frontend/templates/mvtv.html
Labels: none

Fix cinematic mode subtitle loading API response parsing
  frontend/templates/mvtv.html
Labels: none

Enhance MvTV queue jumping to remove preceding songs
  frontend/templates/mvtv.html
Labels: none

Fix MvTV song title and artist not updating when jumping to queue songs
  frontend/templates/mvtv.html
Labels: none

Complete remaining open issues: Last.fm integration and theme export fixes
  0.9.7.todo.md
  CLAUDE.md
  frontend/templates/settings.html
  open_issues.md
Labels: Area: Documentation

Complete 0.9.7 milestone documentation with 100% success declaration
  0.9.7.todo.md
Labels: Area: Documentation

Final milestone documentation update - Version 0.9.7 COMPLETE
  CLAUDE.md
  open_issues.md
Labels: Area: Documentation

Fix video system UI/UX issues and improve bulk operations
  CLAUDE.md
  frontend/static/js/core.js
  frontend/static/main.js
  frontend/templates/artist_detail.html
  frontend/templates/artists.html
  frontend/templates/base.html
  frontend/templates/discover.html
  frontend/templates/lastfm.html
  frontend/templates/settings.html
  frontend/templates/videos.html
  src/api/artists.py
  src/api/videos.py
  src/database/performance_optimizations.py
  src/services/lastfm_service.py
  version.json
Labels: Area: API, Area: Database, Area: Services, Area: Documentation

Complete Issue #73: Advanced Video Filtering and Search System
  frontend/templates/videos.html
  src/api/routes.py
Labels: Area: API

Fix missing handleVideoSearchInput function and enhance search suggestions
  frontend/templates/videos.html
Labels: none

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'
