Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

Fix CSP blocking Iconify API and Flask session auth sync
  src/middleware/dynamic_auth_middleware.py
  src/middleware/security_validation_middleware.py
Labels: none

Fix SecurityValidationMiddleware blocking cookies and standard headers
  src/middleware/security_validation_middleware.py
Labels: none

Fix 429 rate limiting blocking normal page loads
  fastapi_app.py
  src/middleware/security_validation_middleware.py
Labels: none

Bridge Flask session to SessionStore for FastAPI auth compatibility
  src/middleware/dynamic_auth_middleware.py
Labels: none

Fix login page POSTing to removed /test-login endpoint
  fastapi_app.py
  src/api/fastapi/frontend_router.py
  src/middleware/jwt_auth_middleware.py
  tests/playwright/tests/api.spec.ts
  tests/playwright/tests/helpers.ts
Labels: Area: API

Disable WAF body/query content scanning that blocks legitimate requests
  src/middleware/security_validation_middleware.py
Labels: none

Disable WAF header content validation that blocks video streaming
  src/middleware/security_validation_middleware.py
Labels: none

Show actual server error messages when adding YouTube playlists
  frontend/templates/youtube_playlists.html
Labels: none

Fix YouTube playlist sync not detecting new videos
  src/services/youtube_playlist_service.py
Labels: Area: Services

Fix NameError in playlist sync (leftover incremental_mode reference)
  src/services/youtube_playlist_service.py
Labels: Area: Services

v0.12.1: Fix CI/CD formatting, migration, and version update
  CLAUDE.md
  migrations/023_add_playlist_incremental_sync.py
  src/__init__.py
  src/api/fastapi/artists_models.py
  src/api/fastapi/metadata_enrichment_operations.py
  src/api/fastapi/videos_models.py
  src/api/fastapi/websocket_jobs.py
  src/api/fastapi/wizard.py
  src/database/async_connection.py
  src/jobs/image_processing_tasks.py
  src/jobs/video_quality_tasks.py
  src/middleware/cache_middleware.py
  src/middleware/performance_middleware.py
  src/services/api_versioning_service.py
  src/services/async_admin_service.py
  src/services/error_handling_service.py
  src/services/imvdb/imvdb_metadata.py
  src/services/lastfm_service.py
  src/services/metadata_parsers.py
  src/services/metadata_video_enricher.py
  src/services/music_video_detector.py
  src/services/reporting_delivery.py
  src/services/thumbnail_generator_base.py
  src/services/user_behavior_analytics.py
  src/services/vevo_service.py
  src/services/ytdlp_download_manager.py
  src/testing/load_testing.py
  src/testing/performance_benchmarks.py
  src/testing/performance_validation.py
  src/utils/performance_tester.py
  src/utils/security.py
  version.json
Labels: Area: API, Area: Database, Area: Services, Area: Utils, Area: Documentation

Update version.json with release commit hash
  version.json
Labels: none

Fix YouTube search caching empty results from API quota exhaustion
  src/api/fastapi/videos_search.py
  src/services/youtube_search_service.py
Labels: Area: API, Area: Services

Update version.json with release commit hash
  version.json
Labels: none

Fix JWT middleware blocking session-authenticated API requests
  src/middleware/jwt_auth_middleware.py
Labels: none

Update version.json with release commit hash
  version.json
Labels: none

Add authentication to 36 unprotected API endpoints
  src/api/fastapi/artists_scheduling.py
  src/api/fastapi/playlists_crud.py
  src/api/fastapi/settings.py
  src/api/fastapi/videos_crud.py
  src/api/fastapi/videos_search.py
  src/api/fastapi/videos_streaming.py
Labels: Area: API

Fix discovery setting videos to WANTED regardless of artist auto_download
  src/services/lastfm_service.py
  src/services/video_discovery_service.py
Labels: Area: Services

Fix artist deletion 500 error from orphaned foreign key references
  src/api/fastapi/artists_crud.py
Labels: Area: API

Add scheduled task for automatic YouTube playlist sync
  src/jobs/celery_app.py
  src/tasks/scheduled_tasks.py
Labels: none

Add global 401 interceptor to redirect unauthenticated users to login
  frontend/templates/base.html
Labels: none

Remove obsolete po-token-provider supervisord process
  requirements.txt
  supervisord.conf
Labels: none

Update version to 0.12.2 - Authentication & Stability
  src/__init__.py
  version.json
Labels: none

Fix playlist video count not reflecting all videos
  src/services/youtube_playlist_service.py
Labels: Area: Services

Add diagnostic logging to playlist sync to debug video count issue
  src/services/youtube_playlist_service.py
Labels: Area: Services

Fix playlist sync failing for new artists due to SQLAlchemy session detachment
  src/services/youtube_playlist_service.py
Labels: Area: Services

Fix playlist sync: clean VEVO channel names + enable Celery task logging
  src/services/youtube_playlist_service.py
  src/utils/logger.py
Labels: Area: Services, Area: Utils

Update version to 0.12.3 - Playlist Sync & Logging
  src/__init__.py
  version.json
Labels: none

Fix Celery worker logging: configure mvidarr loggers via after_setup_logger signal
  src/jobs/celery_app.py
Labels: none

Update version metadata with current commit
  version.json
Labels: none

Update documentation for v0.12.3 release
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/_tabs/about.md
  docs/_tabs/installation.md
  docs/_tabs/releases.md
Labels: Area: Documentation
