Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

🔧 Fix migration 009 MySQL/MariaDB syntax errors
  migrations/009_add_bulk_operations_tables.py
Labels: none

🐛 Fix checkOAuth2Status JavaScript error in settings page
  frontend/templates/settings.html
Labels: none

🐛 Fix MKV video playback - correct MIME type detection
  src/api/fastapi/videos.py
Labels: Area: API

🐛 Add missing enhanced-refresh-all-metadata FastAPI endpoint
  src/api/fastapi/videos.py
Labels: Area: API

🎨 Format code with Black and isort
  src/api/fastapi/videos.py
Labels: Area: API

🎨 Add migration to seed built-in themes (Cyber, Default, VaporWave, TARDIS, Punk 77, MTV)
  migrations/015_seed_built_in_themes.py
Labels: none

🐛 Fix migration 015 - use admin user ID instead of hardcoded user 6
  migrations/015_seed_built_in_themes.py
Labels: none

🐛 Fix playlists page - correct API response structure check
  frontend/static/js/playlists.js
Labels: none

🐛 Fix blacklist loading - correct API response structure
  frontend/templates/settings.html
Labels: none

✨ Add service integration page routes
  src/api/fastapi/frontend_router.py
  src/api/fastapi/template_system.py
Labels: Area: API

🐛 Fix migration 015 - use role='ADMIN' instead of is_admin column
  migrations/015_seed_built_in_themes.py
Labels: none

✨ Add missing Spotify API endpoints - complete service integration
  SERVICE_INTEGRATION_API_STATUS.md
  releases.md
  src/api/fastapi/spotify.py
Labels: Area: API, Area: Documentation

✅ Fix YouTube Playlists route pattern mismatch - complete service integration
  SERVICE_INTEGRATION_API_STATUS.md
  releases.md
  src/api/fastapi/youtube_playlists.py
Labels: Area: API, Area: Documentation

🐛 Fix undefined function errors in settings page service integration tests
  frontend/templates/settings.html
Labels: none

🐛 Fix YouTube Playlists route ordering - prevent /status from being caught by /{id}
  src/api/fastapi/youtube_playlists.py
Labels: Area: API

✅ Add Spotify OAuth callback endpoint - Complete OAuth flow
  SERVICE_INTEGRATION_API_STATUS.md
  releases.md
  src/api/fastapi/spotify.py
Labels: Area: API, Area: Documentation

🎨 Add year backfill scripts and enhance playlist/MvTV UI
  YEAR_FALLBACK_SUMMARY.md
  frontend/static/js/playlist-detail.js
  frontend/templates/mvtv.html
  frontend/templates/playlist_detail.html
  run_enrichment.py
  scripts/backfill_year_from_descriptions.py
  scripts/backfill_year_from_info_json.py
  scripts/backfill_year_from_upload_date.py
Labels: Area: Documentation

🐛 Fix Spotify connection test error handling
  frontend/templates/spotify.html
Labels: none

📚 Update documentation for 0.9.8 release
  README.md
  about.md
  docs/about.md
  docs/releases.md
  entrypoint-test.sh
  index.md
  installation.md
  releases.md
  scripts/test_externally_managed.sh
  src/__init__.py
  version.json
Labels: Area: Documentation

🔒 Fix security vulnerabilities - Update dependencies
  docker/monitor/requirements.txt
  requirements.txt
Labels: none

🧹 Archive enterprise and testing workflows not needed for self-hosted deployment
  .github/workflows/archived/ci.yml
  .github/workflows/archived/compliance-monitoring.yml
  .github/workflows/archived/incident-response.yml
  .github/workflows/archived/kubernetes-deployment.yml
  .github/workflows/archived/playwright-tests.yml
Labels: none

🐛 Fix migration 015: Handle fresh database with no users
  migrations/015_seed_built_in_themes.py
Labels: none

🐛 Add migration 016: Add lyrics column to videos table
  migrations/016_add_lyrics_column.py
Labels: none

🐛 Fix video indexing UI to handle background job response
  frontend/templates/settings.html
Labels: none

🐛 Fix /jobs 404 error and video indexing UI
  src/api/fastapi/frontend_router.py
Labels: Area: API

🐛 Fix Celery queue length check - resolve qsize() error
  src/jobs/celery_app.py
Labels: none

🎨 Format celery_app.py with Black
  src/jobs/celery_app.py
Labels: none

🔒 Fix LOW severity CVEs in Flask and aiohttp
  docker/monitor/requirements.txt
  requirements.txt
Labels: none

🐛 Fix pagination not showing on videos list page
  frontend/templates/videos.html
Labels: none

🐛 Fix missing selectAllVideos and clearSelection functions
  frontend/templates/videos.html
Labels: none

🐛 Fix MKV video playback - remove fake transcoding logic
  frontend/templates/videos.html
Labels: none

🐛 Fix single video downloads not starting in production
  src/api/fastapi/videos.py
Labels: Area: API

🎨 Format code with Black
  src/api/fastapi/videos.py
Labels: Area: API

🐛 Fix download error - check both youtube_url and url fields
  src/api/fastapi/videos.py
Labels: Area: API

🐛 Fix entrypoint.sh to support custom commands for Celery workers
  entrypoint.sh
Labels: none

🔧 Fix background jobs page to display Celery jobs
  frontend/templates/jobs.html
  src/api/fastapi/metadata_enrichment.py
Labels: Area: API

🐛 Fix video playback on detail page - detect MIME type by file extension
  frontend/templates/video_detail.html
Labels: none

⚠️ Add MKV browser compatibility warning and serve as MP4 MIME type
  frontend/templates/video_detail.html
  src/api/fastapi/videos.py
Labels: Area: API

✨ Implement Advanced Settings Toggle (Issue #150)
  frontend/templates/settings.html
Labels: none

🔧 Fix CI/CD: Add werkzeug to requirements (needed for password hashing)
  requirements.txt
Labels: none

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'
