Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

Add automatic Scheduler V2 reload on settings changes
  src/api/fastapi/settings.py
  version.json
Labels: Area: API

Add Scheduler V2 per-artist settings to UI
  frontend/templates/artist_detail.html
  src/api/fastapi/artists_models.py
  version.json
Labels: Area: API

Remove duplicate Scheduler V2 checkboxes from artist settings
  frontend/templates/artist_detail.html
  version.json
Labels: none

Add manual trigger buttons to Scheduler V2 settings tab
  frontend/templates/settings.html
  version.json
Labels: none

Auto-sync discovery_enabled and download_enabled with monitored/auto_download
  src/api/fastapi/artists_crud.py
  src/api/fastapi/artists_models.py
Labels: Area: API

Fix AttributeError: Change Video.priority to Artist.priority in download ordering
  src/services/video_batch_service.py
Labels: Area: Services

Implement YouTube video discovery with API and yt-dlp fallback
  src/services/video_discovery_service.py
Labels: Area: Services

Fix SQLAlchemy DetachedInstanceError in IMVDb search
  src/services/video_discovery_service.py
Labels: Area: Services

Fix DetachedInstanceError in all YouTube discovery methods
  src/services/video_discovery_service.py
Labels: Area: Services

Fix DetachedInstanceError in discover_videos_for_artist and bulk discovery
  src/services/video_discovery_service.py
Labels: Area: Services

Fix datetime format error when storing discovered videos
  src/services/video_discovery_service.py
Labels: Area: Services

Disable thumbnail download during discovery to prevent failures
  src/services/video_discovery_service.py
Labels: Area: Services

Fix MariaDB SQL syntax error in download function
  src/services/video_batch_service.py
Labels: Area: Services

Add missing process_pending_downloads() method to DownloadServiceAdapter
  src/services/download_service_adapter.py
Labels: Area: Services

Fix queue/history empty on dashboard - query Video table instead of in-memory state
  src/services/download_service_adapter.py
Labels: Area: Services

Fix AttributeError: Video has no file_size attribute
  src/services/download_service_adapter.py
Labels: Area: Services

Show recently completed downloads in queue for visibility
  src/services/download_service_adapter.py
Labels: Area: Services

Fix duplicate video discovery - check YouTube ID and URLs
  src/services/video_discovery_service.py
Labels: Area: Services

Clean duplicate artist names from video titles
  src/services/video_discovery_service.py
Labels: Area: Services

Add debug logging to download history endpoint
  src/api/fastapi/metube.py
  src/services/download_service_adapter.py
Labels: Area: API, Area: Services

Persist YouTube cookies in database across container restarts
  src/api/fastapi/metube.py
  src/services/download_service_adapter.py
Labels: Area: API, Area: Services

Use unified download service as single source of truth for queue/history
  src/services/download_service_adapter.py
  src/services/unified_download_service.py
Labels: Area: Services

Fix manual downloads to use unified download service
  src/api/fastapi/videos_downloads.py
Labels: Area: API

CRITICAL FIX: Redirect ytdlp_service.py to use unified download service
  src/services/ytdlp_service.py
Labels: Area: Services

Fix cookie upload HTTP 500 and discovery DetachedInstanceError
  src/api/fastapi/metube.py
  src/services/video_discovery_service.py
Labels: Area: API, Area: Services

Fix cookie upload HTTP 500 - remove calls to non-existent adapter methods
  src/api/fastapi/metube.py
Labels: Area: API

Fix download queue showing completed videos
  src/services/unified_download_service.py
Labels: Area: Services

v0.11.0: Scheduler V2 - Remove environment variables, move to database configuration
  README.md
  docker.env.example
  docs/CONFIGURATION_GUIDE.md
  src/__init__.py
  src/services/scheduler_service_v2.py
  src/services/video_discovery_service.py
  version.json
Labels: Area: Services, Area: Documentation

Fix: Add missing clear_history() method to DownloadServiceAdapter
  src/services/download_service_adapter.py
Labels: Area: Services

Fix: Change bulk-edit route from /bulk/edit to /bulk-edit to match frontend
  src/api/fastapi/artists_bulk.py
Labels: Area: API

Fix: Change bulk-edit route from /bulk/edit to /bulk-edit to match frontend
  src/api/fastapi/artists_bulk.py
Labels: Area: API

Fix: Clear download history 500 error - fix session handling and response format
  src/api/fastapi/metube.py
  src/services/download_service_adapter.py
Labels: Area: API, Area: Services

Fix: Clear download history now properly clears displayed history
  src/services/unified_download_service.py
Labels: Area: Services

Security: Fix CVE-2025-68480 - Upgrade marshmallow to 3.26.2
  requirements.txt
Labels: none

Fix: Dynamic Playlist count now reflects accurate video count
  src/database/models.py
Labels: Area: Database

Release: v0.11.1 - Bug Fixes & Security Updates
  src/__init__.py
  version.json
Labels: none

Debug: Enhanced error logging for cookie upload 500 error
  src/api/fastapi/metube.py
  src/services/settings_service.py
Labels: Area: API, Area: Services

Fix: Cookie upload 500 error - Increase settings.value column size
  migrations/020_alter_settings_value_to_mediumtext.py
  src/database/models.py
Labels: Area: Database

Fix: Cookie upload 500 error - expand settings.value column to MEDIUMTEXT
  migrations/020_alter_settings_value_to_mediumtext.py
  src/database/migrations.py
Labels: Area: Database

Update version metadata - cookie upload fix confirmed working
  version.json
Labels: none

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'
