Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

Update version metadata with latest commit information
  version.json
Labels: none

Add automated version management to development workflow
  CLAUDE.md
  scripts/update_version.sh
  version.json
Labels: Area: Documentation

Fix critical duplicate ID issue preventing video search results display
  frontend/templates/videos.html
  version.json
Labels: none

Fix JavaScript syntax error in Add to Library function
  frontend/templates/videos.html
  version.json
Labels: none

Fix modal z-index conflicts causing menu bar overlap issues
  frontend/templates/base.html
  frontend/templates/videos.html
  version.json
Labels: none

Add debugging to identify JavaScript escaping issues
  frontend/templates/videos.html
  version.json
Labels: none

Replace inline onclick with data attributes and event listeners
  frontend/templates/videos.html
  version.json
Labels: none

Fix modal title color to white for better dark mode visibility
  frontend/templates/videos.html
  version.json
Labels: none

Add comprehensive API debugging for addVideoToLibrary JSON errors
  frontend/templates/videos.html
  version.json
Labels: none

Fix Add to Library API endpoints - add missing /api prefix
  frontend/templates/videos.html
  version.json
Labels: none

Fix YouTube video Add to Library parameter mismatch
  frontend/templates/videos.html
Labels: none

Complete YouTube import fix with artist ID resolution
  frontend/templates/videos.html
Labels: none

Implement Universal Search and Search/User Bar (Issues #4, #5)
  frontend/templates/base.html
  src/api/videos.py
Labels: Area: API

Update version metadata with Universal Search implementation
  version.json
Labels: none

Add "Search More" button to universal search results
  frontend/templates/base.html
  src/api/videos.py
Labels: Area: API

Enhance header bar with user info, logout button, and dynamic width
  frontend/templates/base.html
Labels: none

Fix universal search service integration issues
  src/api/videos.py
Labels: Area: API

Fix header dark mode colors and sidebar alignment
  frontend/templates/base.html
Labels: none

Fix universal search issues and add search results page
  frontend/templates/search_results.html
  src/api/videos.py
Labels: Area: API

Implement header layout improvements based on design reference
  frontend/CSS/main.css
  frontend/templates/base.html
  version.json
Labels: none

Update version metadata with current commit information
  version.json
Labels: none

Add comprehensive Add Video functionality to dashboard
  docs/issues/menu layout.png
  frontend/templates/base.html
  frontend/templates/index.html
  version.json
Labels: Area: Documentation

Create reusable Add Video modal component to eliminate code duplication
  frontend/templates/components/add_video_modal.html
  frontend/templates/index.html
  frontend/templates/videos.html
  version.json
Labels: none

Fix IMVDb search results display - artist names and thumbnails
  frontend/templates/components/add_video_modal.html
Labels: none

Add discover page for extended search results from universal search
  docs/issues/statistics.png
  frontend/templates/base.html
  frontend/templates/discover.html
  src/api/frontend.py
  version.json
Labels: Area: API, Area: Documentation

Resize statistics module text to better fit container
  frontend/CSS/main.css
Labels: none

Comprehensive documentation review and critical bug fixes for v0.9.2
  README.md
  SECURITY_AUDIT.md
  docker-compose.dev.yml
  docker-compose.production.yml
  docker-compose.yml
  docs/DOCKER_COMPOSE_REVIEW_2025.md
  docs/DOCUMENTATION_REVIEW_2025.md
  docs/archive/README.md
  docs/archive/REFACTORING_COMPLETE.md
  docs/archive/WEBSITE_FIXED.md
  docs/archive/docker-compose-fixed-auth.yml
  frontend/templates/base.html
  src/api/artists.py
  src/api/frontend.py
  src/api/lidarr.py
  src/api/videos.py
  src/services/lastfm_service.py
  src/services/plex_service.py
  src/services/spotify_service.py
  src/utils/sort_name_generator.py
  version.json
Labels: Area: API, Area: Services, Area: Utils, Area: Docker, Area: Documentation

Fix undefined artist_id variable in YouTube video import
  src/api/videos.py
Labels: Area: API

Fix universal search view button URLs - remove incorrect pluralization
  src/api/videos.py
Labels: Area: API

Fix IMVDb video addition from universal search - add missing artist parameter
  frontend/templates/components/add_video_modal.html
Labels: none

Fix undefined artist_id variable in YouTube import - initialize to None
  src/api/videos.py
Labels: Area: API

Fix discover page thumbnail display - remove extra characters
  frontend/templates/discover.html
Labels: none

Fix search more button to open in same tab instead of new tab
  frontend/templates/base.html
Labels: none

Fix SQLAlchemy session binding error in video import functions
  src/api/videos.py
Labels: Area: API

Release version 0.9.2 - Enhanced Video Management & Bug Fixes
  version.json
Labels: none

Prepare dev branch for version 0.9.3 development
  src/__init__.py
  version.json
Labels: none

Fix issues #34 and #35 - Discover page video addition and display
  frontend/templates/components/add_video_modal.html
  frontend/templates/discover.html
  src/api/videos.py
Labels: Area: API

Fix security scanning alert #23 - Replace example token format
  scripts/setup_project_manager.sh
Labels: none

Fix Issue #36 - Identify Artist Button positioning and add Issue #6 - Theme System
  frontend/CSS/Themes.txt
  frontend/CSS/themes.css
  frontend/templates/artist_detail.html
  frontend/templates/base.html
  frontend/templates/discover.html
  frontend/templates/settings.html
Labels: none

Update README version to 0.9.2
  README.md
Labels: Area: Documentation
