Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

Fix code formatting (black/isort)
  src/api/fastapi/metube.py
  src/database/models.py
Labels: Area: API, Area: Database

feat: Integrate PO token provider into MVidarr container
  requirements.txt
  supervisord.conf
  version.json
Labels: none

Fix: Add missing stop_download() method to download service adapter
  src/services/download_service_adapter.py
Labels: Area: Services

Fix: Enhanced cancel_download to handle database downloads
  src/services/unified_download_service.py
Labels: Area: Services

Fix: Add retry_download() method to DownloadServiceAdapter
  src/services/download_service_adapter.py
Labels: Area: Services

Fix: Implement process_pending_downloads() to actually process queued downloads
  src/services/download_service_adapter.py
Labels: Area: Services

Fix: Add YouTube API error reporting to artist discovery endpoint
  src/api/fastapi/artists_discovery.py
Labels: Area: API

v0.11.3: Download Queue & Cookie Status Fixes
  src/services/download_service_adapter.py
  version.json
Labels: Area: Services

v0.11.4: Fix download error tracking and history visibility
  src/services/unified_download_service.py
  version.json
Labels: Area: Services

Security: Sanitize YouTube API key from error messages
  src/services/youtube_search_service.py
Labels: Area: Services

Fix: Enforce discovery_enabled check in auto discovery tasks
  src/tasks/scheduled_tasks.py
Labels: none

Fix: Revert discovery_enabled check from artist_specific_discovery_task
  src/tasks/scheduled_tasks.py
Labels: none

Update version.json with correct commit hash and security fixes
  version.json
Labels: none

Fix: Display YouTube API error message in artist discovery
  frontend/templates/artist_detail.html
Labels: none

Fix: Restore YouTube API error handling in artist discovery
  src/api/fastapi/artists_discovery.py
Labels: Area: API

Fix: Update Dockerfile to use requirements.txt instead of requirements-prod.txt
  Dockerfile
Labels: Area: Docker

Fix: Blacklist pagination error - Changed 'pages' to 'total_pages'
  src/api/fastapi/videos_blacklist.py
  version.json
Labels: Area: API

Fix: Remove duplicate Enhanced Artist Discovery card from discover page
  frontend/templates/discover.html
  version.json
Labels: none

Fix: Complete blacklist API/model mismatch causing 500 errors
  frontend/templates/blacklist.html
  frontend/templates/settings.html
  src/api/fastapi/videos_blacklist.py
  version.json
Labels: Area: API

Fix: Code formatting for CI/CD compliance
  src/api/fastapi/metube.py
  src/database/models.py
Labels: Area: API, Area: Database

Release: v0.11.3 - Blacklist & UI Fixes
  src/__init__.py
  version.json
Labels: none

Fix: Remove non-existent 'reason' and 'id' fields from blacklist POST endpoint
  src/api/fastapi/videos_blacklist.py
Labels: Area: API

Release: v0.11.6 - Blacklist POST Hotfix
  src/__init__.py
  version.json
Labels: none

Update Unraid template support link to Unraid forum
  unraid-template-7.2.0.xml
Labels: none

Fix: Add missing ENV to Docker Compose
  docker-compose.yml
Labels: Area: Docker

Update CLAUDE.md for v0.11.7 development - sync version info and target issues
  CLAUDE.md
Labels: Area: Documentation

Fix: Issue #190 - Blacklist not displaying entries
  frontend/templates/blacklist.html
  src/api/fastapi/videos_blacklist.py
Labels: Area: API

Update version to 0.11.7 for development
  src/__init__.py
  version.json
Labels: none

Feature: Per-artist video type filtering (Issue #191)
  frontend/templates/artist_detail.html
  migrations/021_add_artist_allowed_video_types.py
  migrations/022_add_video_type_field.py
  src/api/fastapi/artists_models.py
  src/database/models.py
  src/services/video_discovery_service.py
  src/utils/video_type_detector.py
Labels: Area: API, Area: Database, Area: Services, Area: Utils

Update version.json with video filtering completion
  version.json
Labels: none

Fix: Themes not loading automatically on Settings page (Issue #180)
  frontend/templates/settings.html
Labels: none

Update version metadata with Issue #180 fix
  version.json
Labels: none

Optimize YouTube API quota usage - Save 30-60% quota (Quick Wins)
  src/services/youtube_playlist_service.py
  src/services/youtube_search_service.py
  src/utils/youtube_cache.py
  src/utils/youtube_quota_tracker.py
Labels: Area: Services, Area: Utils

Update version metadata with YouTube API optimizations
  version.json
Labels: none

Implement incremental playlist sync - Save 75% playlist quota
  migrations/023_add_playlist_incremental_sync.py
  src/database/models.py
  src/services/youtube_playlist_service.py
Labels: Area: Database, Area: Services

Update version metadata with incremental playlist sync
  version.json
Labels: none

Fix Issue #191: Add allowed_video_types to detailed API endpoint
  fastapi_app.py
  src/api/fastapi/artists_bulk.py
  src/api/fastapi/artists_crud.py
  src/api/fastapi/youtube_quota.py
Labels: Area: API

Fix DetachedInstanceError in video discovery service
  src/services/video_discovery_service.py
Labels: Area: Services

Fix Download History not showing completed downloads
  src/services/unified_download_service.py
Labels: Area: Services

Improve video type detection with channel and description analysis
  src/utils/video_type_detector.py
Labels: Area: Utils

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'
