Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

Implement comprehensive database performance optimization for issue #67
  docs/DATABASE_PERFORMANCE_OPTIMIZATION.md
  src/api/artists.py
  src/api/videos.py
  src/database/init_db.py
  src/database/performance_optimizations.py
  src/services/video_indexing_service.py
Labels: Area: API, Area: Database, Area: Services, Area: Documentation

Update version metadata to reflect accurate v0.9.4 release information
  src/__init__.py
  version.json
Labels: none

Implement hourly automatic downloads for wanted videos - Issue #100
  docs/AUTOMATIC_DOWNLOADS.md
  src/database/init_db.py
  src/services/scheduler_service.py
Labels: Area: Database, Area: Services, Area: Documentation

Implement scheduled automatic video discovery for monitored artists
  docs/AUTOMATIC_VIDEO_DISCOVERY.md
  src/database/init_db.py
  src/services/scheduler_service.py
Labels: Area: Database, Area: Services, Area: Documentation

Implement hourly automatic downloads for wanted videos - Issue #100
  docs/AUTOMATIC_DOWNLOADS.md
  src/database/init_db.py
  src/services/scheduler_service.py
Labels: Area: Database, Area: Services, Area: Documentation

Implement scheduled automatic video discovery for monitored artists
  docs/AUTOMATIC_VIDEO_DISCOVERY.md
  src/database/init_db.py
  src/services/scheduler_service.py
Labels: Area: Database, Area: Services, Area: Documentation

Fix download history to show all downloads including automatic downloads
  src/services/ytdlp_service.py
Labels: Area: Services

Simplify scheduled downloads interface and add video discovery scheduling
  frontend/templates/settings.html
  src/services/scheduler_service.py
Labels: Area: Services

Fix video status filter search error (issue #101)
  src/api/videos.py
  src/database/performance_optimizations.py
Labels: Area: API, Area: Database

Change videos page search boxes from gradient to solid backgrounds
  frontend/CSS/videos.css
Labels: none

Update search panel backgrounds to use --bg-secondary
  frontend/CSS/videos.css
Labels: none

Fix SQLAlchemy boolean expression error in video search queries
  src/api/videos.py
  src/database/performance_optimizations.py
Labels: Area: API, Area: Database

Fix SQLAlchemy boolean expression error in video search
  src/api/videos.py
Labels: Area: API

Add detailed error logging to search function
  src/api/videos.py
  src/database/performance_optimizations.py
Labels: Area: API, Area: Database

Fix critical variable scoping issue in search function
  src/api/videos.py
Labels: Area: API

Fix undefined variable errors in search response JSON
  src/api/videos.py
Labels: Area: API

Implement comprehensive API performance monitoring system
  docs/PERFORMANCE_MONITORING.md
  src/api/artists.py
  src/api/performance.py
  src/api/settings.py
  src/api/videos.py
  src/app_with_simple_auth.py
  src/utils/performance_monitor.py
Labels: Area: API, Area: Utils, Area: Documentation

Major performance optimization: Fix video list endpoint inefficiency
  src/api/videos.py
Labels: Area: API

Expand performance monitoring and document Phase 2 optimization results
  docs/PERFORMANCE_OPTIMIZATION_ANALYSIS.md
  src/api/video_discovery.py
Labels: Area: API, Area: Documentation

Complete Phase 3: Performance Validation and Testing Infrastructure
  docs/PHASE3_VALIDATION_GUIDE.md
  src/utils/performance_monitor.py
  src/utils/performance_testing.py
Labels: Area: Utils, Area: Documentation

Add performance regression prevention strategy - Issue #68 final deliverable
  docs/PERFORMANCE_REGRESSION_PREVENTION.md
Labels: Area: Documentation

Fix bulk video status update HTTP method mismatch
  src/api/videos.py
Labels: Area: API

Fix scheduler configuration display showing undefined values
  frontend/templates/settings.html
  src/api/settings.py
Labels: Area: API

Add missing /bulk/edit endpoint for videos
  src/api/videos.py
Labels: Area: API

Implement comprehensive frontend performance optimization
  docs/FRONTEND_PERFORMANCE_OPTIMIZATION.md
  frontend/CSS/critical.css
  frontend/static/js/core.js
  frontend/static/js/header.js
  frontend/static/js/performance-monitor.js
  frontend/static/js/resource-optimizer.js
  frontend/static/js/universal-search.js
  frontend/static/sw.js
  frontend/templates/base-optimized.html
Labels: Area: Documentation

Add comprehensive frontend performance optimizations
  frontend/CSS/ui-enhancements.css
  frontend/CSS/virtualization.css
  frontend/static/js/ui-enhancements.js
  frontend/static/js/video-management-enhanced.js
  frontend/static/js/video-virtualization-integration.js
  frontend/static/js/virtualization-engine.js
  frontend/templates/videos.html
  version.json
Labels: none

Fix Clear History button to delete database records
  src/services/ytdlp_service.py
  version.json
Labels: Area: Services

Optimize GitHub workflows to reduce CI time by 60%
  .github/workflows/archived/auth-security.yml
  .github/workflows/archived/secret-scan.yml
  .github/workflows/archived/security-policy-enforcement.yml
  .github/workflows/build-dev.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-monitoring.yml
  .github/workflows/security-scan.yml
  .github/workflows/unified-security.yml
  version.json
Labels: none

Fix duplicate download history entries and Flask endpoint
  src/api/frontend.py
  src/services/ytdlp_service.py
  version.json
Labels: Area: API, Area: Services

Fix CI/CD Pipeline linting errors
  frontend/templates/videos.html
  src/api/performance.py
  src/api/settings.py
  src/api/videos.py
  src/database/performance_optimizations.py
  src/services/ytdlp_service.py
  src/utils/performance_monitor.py
  src/utils/performance_testing.py
Labels: Area: API, Area: Database, Area: Services, Area: Utils

Fix frontend authentication inconsistency
  src/api/frontend.py
Labels: Area: API

Fix videos page loading issue and performance enhancement conflicts
  frontend/templates/videos.html
  version.json
Labels: none

Implement comprehensive UI/UX enhancement package (issue #71)
  frontend/CSS/accessibility.css
  frontend/CSS/buttons.css
  frontend/CSS/layout.css
  frontend/CSS/loading-feedback.css
  frontend/CSS/themes.css
  frontend/CSS/typography.css
  frontend/CSS/ux-enhancements.css
  frontend/static/loading-feedback.js
  frontend/templates/artists.html
  frontend/templates/base.html
  frontend/templates/loading-demo.html
  frontend/templates/videos.html
  src/api/frontend.py
  version.json
Labels: Area: API

Add enhanced Docker-native scheduler service
  ENHANCED_SCHEDULER.md
  app.py
  docker.env.example
  src/api/enhanced_scheduler.py
  src/api/routes.py
  src/app_with_simple_auth.py
  src/services/enhanced_scheduler_service.py
Labels: Area: API, Area: Services, Area: Documentation

Fix comprehensive UI/UX issues and add duplicate video merge functionality
  CLAUDE.md
  comprehensive_test.py
  frontend/CSS/main.css
  frontend/CSS/videos.css
  frontend/templates/artists.html
  frontend/templates/dashboard.html
  frontend/templates/loading-demo.html
  frontend/templates/mvtv.html
  frontend/templates/settings.html
  frontend/templates/videos.html
  src/api/artists.py
  src/api/videos.py
Labels: Area: API, Area: Documentation

Fix critical UI/UX issues and API endpoint errors
  CLAUDE.md
  frontend/templates/base.html
  frontend/templates/components/add_video_modal.html
  frontend/templates/mvtv.html
  src/api/artists.py
  src/api/videos.py
Labels: Area: API, Area: Documentation

Complete all TODO list items - 100% session success
  CLAUDE.md
Labels: Area: Documentation

Major documentation completion for Issue #69 - 56% progress achieved
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/CONFIGURATION_GUIDE.md
  docs/MONITORING.md
  docs/TROUBLESHOOTING_DOCKER.md
Labels: Area: Documentation

Complete Issue #69: Comprehensive Documentation Portfolio
  CLAUDE.md
  CONTRIBUTING.md
  SECURITY_AUDIT.md
  artists_redesign_screenshot.png
  docs/API_DOCUMENTATION.md
  docs/BUILD_PROCESS.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DEVELOPER_SETUP_GUIDE.md
  docs/PERFORMANCE_OPTIMIZATION.md
  docs/TESTING_GUIDE.md
  docs/TROUBLESHOOTING.md
  docs/USER_WORKFLOWS.md
  docs/issues/dual-checkboxes.png
  docs/issues/video_headers.png
  error_resolution_plan.md
  mvidarr-scheduler.service
  scripts/cron-scheduler.sh
  scripts/scheduler-service.py
  scripts/setup-scheduler-backup.sh
  service_manager.py
  take_artists_screenshot.py
  take_screenshot.py
  test_results_manual.md
  videos_header_screenshot.png
Labels: Area: Documentation

Fix Video Indexing SQLAlchemy case() syntax and button overflow
  frontend/templates/settings.html
  src/database/performance_optimizations.py
Labels: Area: Database

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'
