Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

Remove page header subtitles for streamlined design
  frontend/templates/mvtv.html
Labels: none

Complete streamlined header design across all pages
  frontend/templates/artists.html
  frontend/templates/dashboard.html
  frontend/templates/settings.html
  frontend/templates/videos.html
Labels: none

Fix Themes API authentication errors in settings page
  frontend/templates/settings.html
Labels: none

Resolve scheduled download system investigation
  frontend/templates/artists.html
  frontend/templates/videos.html
Labels: none

Release version 0.9.5: UI/UX Excellence & Documentation Complete
  src/__init__.py
  version.json
Labels: none

Begin 0.9.6 development cycle
  src/__init__.py
  version.json
Labels: none

Update documentation for v0.9.5 release
  README.md
  docs/index.md
  docs/releases.md
Labels: Area: Documentation

Fix GitHub Actions release workflow tar archive issue
  .github/workflows/ci-cd.yml
Labels: none

Fix GitHub Actions release permissions and modernize upload
  .github/workflows/ci-cd.yml
Labels: none

Fix GitHub Actions workflow permissions and improve release upload
  .github/workflows/ci-cd.yml
Labels: none

Update GitHub Pages website with final v0.9.5 release information
  docs/index.md
  docs/installation.md
  docs/releases.md
Labels: Area: Documentation

Implement Jekyll Chirpy theme with comprehensive navigation structure
  docs/_config.yml
  docs/_tabs/about.md
  docs/_tabs/documentation.md
  docs/_tabs/features.md
  docs/_tabs/installation.md
  docs/_tabs/releases.md
Labels: Area: Documentation

Add MVidarr project logo to README and GitHub Pages
  README.md
  docs/_config.yml
  docs/_tabs/about.md
Labels: Area: Documentation

Fix logo path to use correct mvidarr-logo.png file
  README.md
  docs/_config.yml
  docs/_tabs/about.md
Labels: Area: Documentation

Remove outdated v0.9.3 section from README
  README.md
Labels: Area: Documentation

Add MVidarr project logo and update CLAUDE.md with correct location
  CLAUDE.md
  frontend/src/Content/Images/mvidarr-logo.png
Labels: Area: Documentation

Fix GitHub Pages deployment workflow for Chirpy theme
  .github/workflows/pages.yml
Labels: none

Modernize GitHub Pages home page with enhanced design and functionality
  docs/index.md
Labels: Area: Documentation

Add MVidarr favicon and icon assets for GitHub Pages
  docs/_config.yml
  docs/assets/img/favicons/android-chrome-192x192.png
  docs/assets/img/favicons/android-chrome-512x512.png
  docs/assets/img/favicons/apple-touch-icon.png
  docs/assets/img/favicons/favicon-16x16.png
  docs/assets/img/favicons/favicon-32x32.png
  docs/assets/img/favicons/favicon-debug-16x16.png
  docs/assets/img/favicons/favicon-debug-32x32.png
  docs/assets/img/favicons/favicon-debug.ico
  docs/assets/img/favicons/favicon.ico
  docs/assets/img/favicons/mstile-144x144.png
  docs/assets/img/favicons/mstile-150x150.png
  docs/assets/img/favicons/mstile-310x150.png
  docs/assets/img/favicons/mstile-310x310.png
  docs/assets/img/favicons/mstile-70x70.png
  docs/assets/img/favicons/safari-pinned-tab.svg
  frontend/src/Content/Images/favicon.ico
Labels: Area: Documentation

Remove incorrect favicon files and keep only original MVidarr favicon.ico
  docs/assets/img/favicons/android-chrome-192x192.png
  docs/assets/img/favicons/android-chrome-512x512.png
  docs/assets/img/favicons/apple-touch-icon.png
  docs/assets/img/favicons/docs/assets/img/favicons/favicon.ico
  docs/assets/img/favicons/favicon-16x16.png
  docs/assets/img/favicons/favicon-32x32.png
  docs/assets/img/favicons/favicon-debug-16x16.png
  docs/assets/img/favicons/favicon-debug-32x32.png
  docs/assets/img/favicons/favicon-debug.ico
  docs/assets/img/favicons/mstile-144x144.png
  docs/assets/img/favicons/mstile-150x150.png
  docs/assets/img/favicons/mstile-310x150.png
  docs/assets/img/favicons/mstile-310x310.png
  docs/assets/img/favicons/mstile-70x70.png
  docs/assets/img/favicons/safari-pinned-tab.svg
Labels: Area: Documentation

Fix GitHub Pages index.md to use Jekyll-compatible syntax
  docs/index.md
Labels: Area: Documentation

Fix GitHub Pages by simplifying to standard Jekyll/Minima theme
  .github/workflows/pages.yml
  docs/_config.yml
  docs/assets/img/favicons/docs/favicon.ico
  docs/index.md
Labels: Area: Documentation

Fix Jekyll build error by removing broken _tabs link reference
  docs/index.md
Labels: Area: Documentation

Convert to fully custom Minima theme with MVidarr branding and black background
  docs/assets/css/style.scss
  docs/index.md
Labels: Area: Documentation

Merge about page into home page and fix custom CSS implementation
  docs/_config.yml
  docs/assets/css/style.scss
  docs/index.md
Labels: Area: Documentation

Fix custom CSS by using Jekyll head-custom.html include
  docs/_includes/head-custom.html
Labels: Area: Documentation

Fix GitHub Pages navigation: remove site title link and redirect About to home page
  docs/_includes/head-custom.html
  docs/_includes/header.html
Labels: Area: Documentation

Keep site title as homepage link, remove About from navigation
  docs/_includes/head-custom.html
  docs/_includes/header.html
Labels: Area: Documentation

Update index.md
  docs/index.md
Labels: Area: Documentation

Remove redundant SCSS file to prevent CSS conflicts
  docs/assets/css/style.scss
Labels: Area: Documentation

Fix navigation title and strengthen CSS dark theme
  docs/_includes/head-custom.html
  docs/_tabs/about.md
Labels: Area: Documentation

Fix GitHub Pages CSS by using proper SCSS file instead of head-custom.html
  docs/_includes/head-custom.html
  docs/assets/css/style.scss
  github_pages_current.png
  take_screenshot.py
Labels: Area: Documentation

Add custom default layout with inline CSS for guaranteed dark theme
  docs/_layouts/default.html
Labels: Area: Documentation

Update documentation with video 186 playback investigation
  CLAUDE.md
  MILESTONE_ROADMAP.md
Labels: Area: Documentation

Fix code formatting issues for CI/CD pipeline
  src/api/playlists.py
  src/api/routes.py
  src/api/videos.py
  src/database/models.py
  src/services/video_indexing_service.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Database, Area: Services

Fix visual tests conftest.py for CI environment compatibility
  tests/visual/conftest.py
Labels: none

Complete dashboard and UI improvements: fix download history dates, video links, playlist creation, and metadata refresh conflicts
  frontend/static/js/video-management-enhanced.js
  frontend/templates/index.html
  frontend/templates/videos.html
Labels: none

Enhanced artist page video management with icon buttons and delete functionality
  CLAUDE.md
  frontend/templates/artist_detail.html
  frontend/templates/video_detail.html
Labels: Area: Documentation

Release v0.9.6: Update version metadata for production release
  src/__init__.py
  version.json
Labels: none

Update README.md for v0.9.6 release features
  README.md
Labels: Area: Documentation
