Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

🐛 Fix Flask background worker system startup
  src/services/flask_job_integration.py
Labels: Area: Services

🚀 Implement Celery + Redis background job system
  CELERY_BACKGROUND_JOBS_IMPLEMENTATION.md
  src/api/metadata_enrichment.py
  src/jobs/metadata_tasks.py
Labels: Area: API, Area: Documentation

📋 Add Celery testing guide and setup 0.9.8 milestone
  CELERY_TESTING_GUIDE.md
Labels: Area: Documentation

🐛 Fix top_tracks data not appearing in Song Recommendations
  frontend/templates/artist_detail.html
Labels: none

🎯 Enhance thumbnail system with source URL prioritization and database fixes
  src/api/fastapi/videos.py
  src/jobs/ffmpeg_processing_tasks.py
  src/jobs/metadata_tasks.py
Labels: Area: API

🏭 Production Architecture Enhancement - Issue #132 Progress
  fastapi_app.py
  src/api/fastapi/artists.py
  src/api/fastapi/health.py
  src/api/fastapi/videos.py
Labels: Area: API

🐛 Fix stuck downloads clearing issue
  fastapi_app.py
  frontend/templates/index.html
Labels: none

🔧 Improve stuck downloads clearing - prevent infinite loops and ensure visibility
  fastapi_app.py
Labels: none

🔧 Fix service startup issues - Pydantic regex deprecation and import errors
  fastapi_app.py
  src/api/fastapi/advanced_jobs.py
  src/api/fastapi/advanced_search.py
  src/api/fastapi/enhanced_auth.py
  src/api/fastapi/enhanced_scheduler.py
  src/api/fastapi/logging_middleware.py
  src/api/fastapi/mobile_access.py
  src/api/fastapi/spotify_enhanced.py
  src/api/fastapi/two_factor_auth.py
  src/api/fastapi/youtube_playlists.py
Labels: Area: API

🚑 Fix critical 0.9.8 user-facing issues - logout, video search, and frontend errors
  fastapi_app.py
  frontend/templates/index.html
Labels: none

🔧 Fix playlist import missing function error
  frontend/templates/components/add_video_modal.html
Labels: none

🧪 Implement comprehensive Playwright E2E testing infrastructure
  package.json
  playwright.config.js
  test-results/auth-Authentication-Flow-s-22fb7-or-with-invalid-credentials-chromium/error-context.md
  test-results/auth-Authentication-Flow-s-22fb7-or-with-invalid-credentials-chromium/test-failed-1.png
  test-results/auth-Authentication-Flow-s-22fb7-or-with-invalid-credentials-chromium/video.webm
  test-results/auth-Authentication-Flow-s-84c75-ve-redirect-URL-after-login-chromium/error-context.md
  test-results/auth-Authentication-Flow-s-84c75-ve-redirect-URL-after-login-chromium/test-failed-1.png
  test-results/auth-Authentication-Flow-s-84c75-ve-redirect-URL-after-login-chromium/video.webm
  test-results/auth-Authentication-Flow-s-a82f8-uthenticated-users-to-login-chromium/error-context.md
  test-results/auth-Authentication-Flow-s-a82f8-uthenticated-users-to-login-chromium/test-failed-1.png
  test-results/auth-Authentication-Flow-s-a82f8-uthenticated-users-to-login-chromium/video.webm
  test-results/auth-Authentication-Flow-should-handle-logout-button-click-chromium/error-context.md
  test-results/auth-Authentication-Flow-should-handle-logout-button-click-chromium/test-failed-1.png
  test-results/auth-Authentication-Flow-should-handle-logout-button-click-chromium/video.webm
  test-results/auth-Authentication-Flow-should-handle-session-timeout-chromium/error-context.md
  test-results/auth-Authentication-Flow-should-handle-session-timeout-chromium/test-failed-1.png
  test-results/auth-Authentication-Flow-should-handle-session-timeout-chromium/video.webm
  test-results/auth-Authentication-Flow-should-login-with-valid-credentials-chromium/error-context.md
  test-results/auth-Authentication-Flow-should-login-with-valid-credentials-chromium/test-failed-1.png
  test-results/auth-Authentication-Flow-should-login-with-valid-credentials-chromium/video.webm
  test-results/auth-Authentication-Flow-should-logout-successfully-chromium/error-context.md
  test-results/auth-Authentication-Flow-should-logout-successfully-chromium/test-failed-1.png
  test-results/auth-Authentication-Flow-should-logout-successfully-chromium/video.webm
  tests/README.md
  tests/e2e/artists.spec.js
  tests/e2e/auth.spec.js
  tests/e2e/dashboard.spec.js
  tests/fixtures/test-data.js
  tests/global-setup.js
  tests/global-teardown.js
  tests/utils/test-helpers.js
Labels: none

🔧 Fix file linking race condition in download system
  fix_unlinked_videos.py
  src/jobs/simple_download_task.py
Labels: none

🎉 Fix critical YouTube download quality and session binding issues
  src/services/youtube_download_engine.py
  src/services/ytdlp_service.py
Labels: Area: Services

🔧 Fix three critical download system issues
  src/services/youtube_download_engine.py
  src/services/ytdlp_service.py
Labels: Area: Services

🔧 Fix subtitle downloads by reading global setting in metube API
  src/api/fastapi/metube.py
Labels: Area: API

🔧 Add subtitle endpoints to FastAPI and fix subtitle detection
  src/api/fastapi/videos.py
Labels: Area: API

🔧 Fix video quality by prioritizing separate video+audio streams
  src/services/video_quality_service.py
  src/services/youtube_download_engine.py
Labels: Area: Services

🎬 Complete Subtitle System Implementation with Smart Language Resolution
  CLAUDE.md
  frontend/templates/videos.html
  src/api/fastapi/metube.py
  src/api/fastapi/videos.py
  src/services/youtube_download_engine.py
  src/services/ytdlp_service.py
  version.json
Labels: Area: API, Area: Services, Area: Documentation

📋 Complete 0.9.9 Cleanup Planning & Issue Creation
  CLAUDE.md
  MILESTONE_0.9.9_CLEANUP.md
  TESTING_PLAN_0.9.8.md
Labels: Area: Documentation

🚀 Enhanced Artist Auto-Processing: Complete Automation for New Artists
  celerybeat-schedule
  src/api/fastapi/artists.py
  src/services/artist_auto_processing_service.py
Labels: Area: API, Area: Services

🔧 Fix metadata enrichment progress hang at 95%
  src/jobs/metadata_tasks.py
  src/services/metadata_enrichment_service.py
Labels: Area: Services

🔄 Enhance restart application to include Celery workers
  scripts/manage_service.sh
  src/api/fastapi/admin.py
Labels: Area: API

🔧 Fix metadata enrichment 90% hang by removing blocking thumbnail download
  src/services/metadata_enrichment_service.py
Labels: Area: Services

🔧 Fix restart application button timeout and error handling
  src/api/fastapi/admin.py
Labels: Area: API

🔧 Add comprehensive debugging for metadata enrichment 90% hang
  src/services/metadata_enrichment_service.py
Labels: Area: Services

🔧 Add aggressive debugging to Celery metadata task execution
  celerybeat-schedule
  src/jobs/metadata_tasks.py
Labels: none

🔧 Fix SQLAlchemy DetachedInstanceError in metadata enrichment by re-attaching artist to session
  celerybeat-schedule
  src/services/metadata_enrichment_service.py
Labels: Area: Services

🖼️ Add automatic thumbnail download after metadata enrichment completion
  celerybeat-schedule
  src/jobs/metadata_tasks.py
Labels: none

🚫 Add comprehensive placeholder image filtering to prevent downloading generic thumbnails
  celerybeat-schedule
  src/services/metadata_enrichment_service.py
  src/services/thumbnail_service.py
Labels: Area: Services

🔍 Enhanced thumbnail scanning to actually search for and download thumbnails
  celerybeat-schedule
  src/api/fastapi/artists.py
Labels: Area: API

🗑️ Fix artist thumbnail deletion endpoint to support remove_thumbnail parameter
  celerybeat-schedule
  src/api/fastapi/artists.py
Labels: Area: API

🔧 Fix duplicate thumbnail endpoint - add deletion support to correct function
  celerybeat-schedule
  src/api/fastapi/artists.py
Labels: Area: API

✅ Complete comprehensive thumbnail system with deletion support
  celerybeat-schedule
Labels: none

🔧 Fix thumbnail search broken placeholder URLs
  frontend/templates/artist_detail.html
Labels: none

🔧 Fix thumbnail search results display - API response format mismatch
  frontend/templates/artist_detail.html
Labels: none

✨ Enhance thumbnail search with Spotify images and improved Wikipedia search
  src/api/fastapi/artists.py
Labels: Area: API

🔧 Fix metadata image search with proper placeholder filtering
  src/api/fastapi/artists.py
Labels: Area: API

🔧 Fix systemd service startup permissions and quality upgrade improvements
  celerybeat-schedule
  fastapi_app.py
  mvidarr.service
  src/api/fastapi/artists.py
  src/api/fastapi/video_quality.py
  src/services/download_service_adapter.py
  src/services/unified_download_service.py
  src/services/video_quality_service.py
  src/services/youtube_oauth_service.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Services

🐛 Fix quality level not updating during enhanced metadata refresh
  src/services/metadata_enrichment_service.py
Labels: Area: Services

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'
