Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

🐛 Fix Dockerfile.production - move permissions after copying files
  Dockerfile.production
Labels: Area: Docker

🐛 Fix missing imports causing CI/CD linting failures
  src/api/fastapi/health.py
  src/api/fastapi/settings.py
  src/auth/dependencies.py
  src/auth_integration.py
Labels: Area: API

🐛 Fix workflow failures and linting errors
  .github/workflows/lock.yml
  .github/workflows/unified-security.yml
  src/jobs/metadata_tasks.py
Labels: none

🐛 Fix security audit service log directory path
  src/services/security_audit_service.py
Labels: Area: Services

🐛 Fix Celery Beat permission error preventing download queue processing
  src/jobs/celery_app.py
Labels: none

🐛 Add missing refresh-thumbnails endpoint to videos_bulk
  src/api/fastapi/videos_bulk.py
Labels: Area: API

🐛 Add 2 missing endpoints from videos.py refactoring
  src/api/fastapi/videos_bulk.py
  src/api/fastapi/videos_search.py
Labels: Area: API

🐛 Fix thumbnail not persisting when video is edited
  src/api/fastapi/videos_crud.py
  src/api/fastapi/videos_models.py
Labels: Area: API

🐛 Fix hardcoded thumbnail paths breaking Docker deployments
  src/api/fastapi/videos_thumbnails.py
  src/jobs/metadata_tasks.py
Labels: Area: API

✨ Enhance Discogs integration to prefer albums over singles for better metadata
  src/services/discogs_service.py
  src/services/metadata_video_enricher.py
Labels: Area: Services

🐛 Fix missing year/album/release_date fields in video detail API response
  src/api/fastapi/videos_crud.py
Labels: Area: API

✅ Complete audit: Add all missing VideoResponse fields to API endpoints
  src/api/fastapi/videos_crud.py
  src/api/fastapi/videos_search.py
Labels: Area: API

🎥 Improve video playback reliability and error handling
  frontend/templates/videos.html
Labels: none

🐛 Improve video loading abort error detection
  frontend/templates/mvtv.html
Labels: none

🐛 Fix sidebar toggle button inaccessible when minimized
  frontend/CSS/main.css
Labels: none

✨ Add bulk artist automatch and enrich buttons to Settings
  frontend/templates/settings.html
  src/api/fastapi/metadata_enrichment_operations.py
Labels: Area: API

✨ Implement real-time FFmpeg transcoding for MKV playback
  frontend/templates/video_detail.html
  frontend/templates/videos.html
  src/api/fastapi/videos_streaming.py
Labels: Area: API

🧹 Frontend cleanup: Remove debug console.log statements
  frontend/static/js/background-jobs.js
  frontend/templates/videos.html
Labels: none

📚 Update documentation for 0.9.9 release
  CLAUDE.md
  version.json
Labels: Area: Documentation

📝 Add comprehensive 0.9.9 release notes
  RELEASE_NOTES_0.9.9.md
Labels: Area: Documentation

📝 Update GitHub Pages for v0.9.9 release
  docs/index.md
  docs/releases.md
Labels: Area: Documentation

🔧 Fix database connection pool issues causing FastAPI crash-loop
  src/database/async_connection.py
  src/database/connection.py
Labels: Area: Database

🔧 Update version.json with database connection pool fix (2093afd)
  version.json
Labels: none

🔧 Fix FastAPI crash-loop by running database init in thread executor
  fastapi_app.py
Labels: none

📝 Update version.json with crash-loop fix metadata
  version.json
Labels: none

🔧 Fix production crash-loop: Graceful logging permission handling
  docker-compose.production.yml
  fix_logs_permissions.sh
  prod_diagnose.sh
  src/utils/structured_logger.py
Labels: Area: Utils, Area: Docker

📝 Update version.json for logging permission fix
  version.json
Labels: none

🔧 Fix video indexing crash: Add missing base_worker module
  src/services/workers/base_worker.py
  src/services/workers/video_indexing_worker.py
Labels: Area: Services

🔧 Fix video indexing: Start background workers in FastAPI lifecycle
  fastapi_app.py
Labels: none

🔍 Debug: Add logging to diagnose wanted videos query issue
  src/api/fastapi/videos_downloads.py
Labels: Area: API

🔧 Fix critical background worker bug: Jobs never completing
  src/services/workers/scheduler_worker.py
  src/services/workers/video_indexing_worker.py
  src/services/workers/video_organization_worker.py
  src/services/workers/video_quality_worker.py
  version.json
Labels: Area: Services

📝 Update version.json with current commit information
  version.json
Labels: none

🐛 Fix video indexing stats showing zero counts
  src/api/fastapi/video_indexing.py
  src/database/performance_optimizations.py
Labels: Area: API, Area: Database

📝 Update version metadata to trigger Docker build
  version.json
Labels: none

🔧 Fix version.json to show correct commit hash
  version.json
Labels: none

🐛 Fix critical video indexing bug: Replace overly broad ILIKE matching with exact match
  src/services/video_indexing_service.py
Labels: Area: Services

🐛 CRITICAL FIX: Remove duplicate detection from video indexing - index all files
  src/services/video_indexing_service.py
  version.json
Labels: Area: Services

🐛 CRITICAL FIX: Correct music videos directory path mismatch
  docker-compose.production.yml
  src/api/fastapi/videos_streaming.py
  src/config/config.py
Labels: Area: API, Area: Configuration, Area: Docker

🚀 Version bump to v1.0.0-dev - First Production Release
  CLAUDE.md
  CLEAN_DATABASE_VIDEOS.md
  INITIAL_VIDEO_LOAD_GUIDE.md
  INSTALLATION_WIZARD_SPEC.md
  docs/diagnostics/PRODUCTION_CRASHLOOP_FIX.md
  docs/diagnostics/PRODUCTION_INDEXING_FIX.md
  docs/diagnostics/check_prod_job.sh
  docs/diagnostics/deploy_fix_to_production.sh
  docs/diagnostics/diagnose_indexing.py
  docs/diagnostics/fix_path_mismatch.py
  docs/diagnostics/monitor_indexing_job.sh
  docs/diagnostics/verify_production.sh
  src/__init__.py
  version.json
Labels: Area: Documentation

📝 Update version.json with current commit hash
  version.json
Labels: none
