Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

🐛 Fix YouTube playlist addition error handling for CORS/network issues
  frontend/templates/youtube_playlists.html
Labels: none

🔒 Fix mixed content error: Add ProxyHeadersMiddleware for HTTPS proxy support
  fastapi_app.py
Labels: none

🎨 Fix code formatting for CI/CD compliance
  src/api/fastapi/spotify.py
  src/services/spotify_service.py
Labels: Area: API, Area: Services

🔒 Fix critical urllib3 DoS vulnerabilities and Flask session signing bug
  requirements.txt
Labels: none

🐛 Fix artist settings persistence - Add missing fields to PUT response
  src/api/fastapi/artists_crud.py
Labels: Area: API

🎨 Add theme installation fix script for production deployment
  scripts/fix_production_themes.sh
Labels: none

🐛 Fix scheduler service not starting - enable scheduled downloads & video discovery
  fastapi_app.py
  src/api/fastapi/health.py
Labels: Area: API

🛡️ Implement request size limits for DoS prevention
  fastapi_app.py
  src/middleware/request_size_middleware.py
Labels: none

🔧 Fix Category 1 field mismatch - Add keywords, genres, labels, members to API
  src/api/fastapi/artists_crud.py
  src/api/fastapi/artists_models.py
Labels: Area: API

🔧 Fix Category 2 field mismatch - Add database schema for 8 fields
  migrations/017_add_artist_category2_fields.py
  src/database/models.py
Labels: Area: Database

✨ Complete Issue #174 Category 3: Add 11 frontend fields to API/database
  migrations/018_add_artist_category3_fields.py
  src/api/fastapi/artists_crud.py
  src/api/fastapi/artists_models.py
  src/database/models.py
Labels: Area: API, Area: Database

🐛 Fix artist settings validation for empty strings and invalid values
  src/api/fastapi/artists_models.py
Labels: Area: API

🎨 Fix black formatting for migration 017
  migrations/017_add_artist_category2_fields.py
Labels: none

🎨 Fix black formatting for all modified files
  migrations/005_add_video_metadata_fields.py
  src/api/fastapi/health.py
  src/middleware/request_size_middleware.py
Labels: Area: API

🐛 Fix artist settings not persisting after save
  frontend/templates/artist_detail.html
Labels: none

🐛 Fix /detailed endpoint missing all Category 1-3 fields
  frontend/templates/artist_detail.html
  src/api/fastapi/artists_bulk.py
Labels: Area: API

🐛 Fix 422 validation error when adding genres/keywords/labels
  src/api/fastapi/artists_models.py
Labels: Area: API

🔖 Release v0.10.0-beta.2 - Artist Settings & Field Sync
  src/__init__.py
  version.json
Labels: none

Update version.json git_branch to main
  version.json
Labels: none

🔧 Enable enhanced scheduler auto-start on application boot
  fastapi_app.py
Labels: none

added screen shot
  mvidarr-screen.png
Labels: none

added screenshot to readme
  README.md
Labels: Area: Documentation

🐛 Fix #178: Server Directory Import now starts from Music Videos Library
  frontend/templates/settings.html
Labels: none

📦 Add Redis support to Unraid templates and documentation
  docs/UNRAID_INSTALLATION.md
  docs/installation.md
  unraid-template-7.2.0.xml
  unraid-template.xml
  version.json
Labels: Area: Documentation

Update version.json git_branch to main
  version.json
Labels: none

Add new Scheduler (Beta) settings page under Advanced Settings
  frontend/templates/settings.html
Labels: none

🚀 Initialize v0.10.1: Scheduler V2 Complete Rework
  docs/v0.10.1_PROJECT_PLAN.md
  version.json
Labels: Area: Documentation

✅ Phase 1 Complete: Database Schema & Celery Configuration for Scheduler V2
  migrations/019_add_scheduler_v2_tables.py
  src/database/init_db.py
  src/database/models.py
  src/jobs/celery_app.py
Labels: Area: Database

✅ Phase 2 Complete: Core Services - Scheduler V2, Discovery & Download Enhancements
  src/services/scheduler_service_v2.py
  src/services/video_batch_service.py
  src/services/video_discovery_service.py
Labels: Area: Services

✅ Phase 3 Complete: Celery Tasks Implementation
  src/tasks/__init__.py
  src/tasks/scheduled_tasks.py
Labels: none

Phase 4: API Layer - Scheduler V2 & Job Management Endpoints (v0.10.1)
  fastapi_app.py
  src/api/fastapi/artists.py
  src/api/fastapi/artists_scheduling.py
  src/api/fastapi/scheduled_jobs.py
  src/api/fastapi/scheduler_v2.py
Labels: Area: API

Phase 5: Frontend - Scheduler Dashboard & Job Monitoring UI (v0.10.1)
  frontend/CSS/scheduler.css
  frontend/static/js/scheduled-jobs.js
  frontend/static/js/scheduler-dashboard.js
  frontend/templates/scheduled_jobs.html
  frontend/templates/scheduler_dashboard.html
  src/api/fastapi/frontend_router.py
Labels: Area: API

Phase 6: Migration & Cleanup - Scheduler V2 Implementation Complete
  CHANGELOG.md
  docs/MIGRATION_0.10.1.md
  docs/SCHEDULER_V2.md
  fastapi_app.py
  scripts/verify_scheduler_v2_migration.py
  src/api/fastapi/enhanced_scheduler.py
  src/services/enhanced_scheduler_service.py
  src/services/scheduler_service.py
Labels: Area: API, Area: Services, Area: Documentation

Update version.json for Scheduler V2 testing deployment
  version.json
Labels: none

Add feature-schedule branch to Docker build workflow
  .github/workflows/docker-build.yml
Labels: none

Fix Scheduler V2 frontend integration in settings page
  frontend/templates/settings.html
Labels: none

Fix Scheduler V2 status API 500 error
  src/services/scheduler_service_v2.py
Labels: Area: Services

Separate Celery Worker and Beat into distinct supervisor processes
  supervisord.conf
Labels: none

Fix database context manager usage in get_status()
  src/services/scheduler_service_v2.py
Labels: Area: Services

Add schedule format parsing for better readability
  frontend/templates/settings.html
Labels: none
