Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

📝 Update USER_TESTING_FIXES.md with commit hash for Issue #4
  USER_TESTING_FIXES.md
Labels: Area: Documentation

🐛 Fix Issue #3: Missing _aggregate_metadata method in enrichment service
  src/services/metadata_artist_enricher.py
Labels: Area: Services

🐛 Fix aggregate_metadata missing source_weights parameter
  src/services/metadata_artist_enricher.py
Labels: Area: Services

Fix metadata enrichment: replace missing _extract_extended_information and _extract_external_links methods
  src/services/metadata_artist_enricher.py
Labels: Area: Services

📝 Update USER_TESTING_FIXES.md with all 4 enrichment fixes
  USER_TESTING_FIXES.md
Labels: Area: Documentation

Fix thumbnail update: replace missing _is_placeholder_image method
  src/services/metadata_artist_enricher.py
Labels: Area: Services

📝 Update USER_TESTING_FIXES.md with Fix #5 (thumbnail)
  USER_TESTING_FIXES.md
Labels: Area: Documentation

🐛 Fix AttributeError: 'Artist' object has no attribute 'sort_name'
  src/api/fastapi/artists_discovery.py
Labels: Area: API

🐛 Fix event loop conflict in artist auto-processing metadata enrichment
  src/services/artist_auto_processing_service.py
Labels: Area: Services

📝 Update USER_TESTING_FIXES.md with Issue #2 fixes
  USER_TESTING_FIXES.md
Labels: Area: Documentation

🐛 Fix additional AttributeErrors in artist IMVDb import response
  src/api/fastapi/artists_discovery.py
Labels: Area: API

🐛 Fix race condition in artist import auto-processing
  src/api/fastapi/artists_discovery.py
Labels: Area: API

🐛 Fix misleading toast message for IMVDb video imports without YouTube URLs
  src/api/fastapi/videos_import.py
Labels: Area: API

🐛 Fix IMVDb video imports to extract YouTube URLs from sources
  src/api/fastapi/videos_import.py
  src/services/imvdb/imvdb_metadata.py
  src/services/imvdb/imvdb_search.py
Labels: Area: API, Area: Services

🐛 Fix IMVDb API parameter for fetching video sources
  src/services/imvdb/imvdb_metadata.py
  src/services/imvdb/imvdb_search.py
Labels: Area: Services

🐛 Fix YouTube playlist preview field name mismatch
  src/api/fastapi/youtube_playlists.py
Labels: Area: API

🐛 Add 1440p and 2160p quality options to YouTube playlist monitoring
  src/api/fastapi/youtube_playlists.py
Labels: Area: API

🐛 Fix YouTube playlist creation error handling
  src/services/youtube_playlist_service.py
Labels: Area: Services

Add error logging for playlist creation failures
  src/api/fastapi/youtube_playlists.py
Labels: Area: API

Fix video form submission error for thumbnail URL field
  frontend/templates/video_detail.html
  src/api/fastapi/videos_models.py
Labels: Area: API

Add year extraction functionality for video metadata
  scripts/backfill_video_years.py
  src/api/fastapi/videos_metadata.py
Labels: Area: API

Add missing bulk-validate-metadata endpoint for artists
  src/api/fastapi/artists_bulk.py
Labels: Area: API

Add missing artist merge endpoint and fix merge functionality
  src/api/fastapi/artists_bulk.py
  src/api/fastapi/artists_models.py
Labels: Area: API

Fix video download queue - Celery integration
  src/api/fastapi/videos_downloads.py
Labels: Area: API

Fix age-restricted video downloads with improved cookie handling
  src/services/youtube_download_engine.py
Labels: Area: Services

Fix cookie handling for server environment and add cookie export guide
  COOKIE_EXPORT_GUIDE.md
  src/services/youtube_download_engine.py
Labels: Area: Services, Area: Documentation

Fix 404 error for lyrics search endpoint
  fastapi_app.py
Labels: none

Fix lyrics search title cleaning bug
  src/api/fastapi/videos_search.py
Labels: Area: API

Improve lyrics search title cleaning and API reliability
  src/api/fastapi/videos_search.py
Labels: Area: API

Add manual lyrics entry and document API alternatives
  LYRICS_ALTERNATIVES.md
  src/api/fastapi/videos_search.py
Labels: Area: API, Area: Documentation

Fix remaining E2E test failures (8 tests)
  tests/playwright/tests/pages.spec.ts
Labels: none

🔒 Fix 30 Medium severity security issues (69.8% reduction)
  src/api/fastapi/client_generation.py
  src/database/async_connection.py
  src/database/connection.py
  src/middleware/cache_middleware.py
  src/services/api_gateway.py
  src/services/artist_browser_service.py
  src/services/artist_service.py
  src/services/async_artist_service.py
  src/services/collection_maintenance_service.py
  src/services/import_parsers.py
  src/services/import_service.py
  src/services/lastfm_service.py
  src/services/local_network_share.py
  src/services/media_cache_manager.py
  src/services/music_video_detector.py
  src/services/music_video_quality_service.py
  src/services/musicbrainz_service.py
  src/services/oauth_service.py
  src/services/security_audit_service.py
  src/services/spotify_connect_service.py
  src/services/spotify_service.py
  src/services/sync_manager.py
  src/services/thumbnail_optimization_service.py
  src/services/user_service.py
  src/services/video_fingerprinting_service.py
  src/services/youtube_playlist_service.py
Labels: Area: API, Area: Database, Area: Services

📁 Add .gitkeep for playlist thumbnails directory
  data/thumbnails/playlists/.gitkeep
Labels: none

📚 Update all documentation and configs for v0.9.9 release
  DEPLOYMENT_GUIDE.md
  DOCUMENTATION_UPDATE_SUMMARY.md
  Dockerfile
  README.md
  mvidarr.service
  scripts/install.sh
  version.json
Labels: Area: Docker, Area: Documentation

🐳 Simplify Docker architecture to 3 containers for consumer-grade deployments
  DEPLOYMENT_GUIDE.md
  DOCKER_SIMPLIFICATION_SUMMARY.md
  Dockerfile
  docker-compose.yml
  supervisord.conf
Labels: Area: Docker, Area: Documentation

🐳 Complete Docker simplification to 3 containers with working deployment
  Dockerfile
  docker-compose.local.yml
Labels: Area: Docker

📚 Complete documentation refresh for v0.9.9 with Docker simplification
  DOCUMENTATION_UPDATE_SUMMARY.md
  README.md
  docker-compose.yml
  version.json
Labels: Area: Docker, Area: Documentation

🔧 Add dev test environment configuration for 3-container architecture
  DEV_TEST_MIGRATION_GUIDE.md
  docker-compose.dev-test.yml
Labels: Area: Docker, Area: Documentation

🔧 Add temporary OLD-ARCH compose for dev test until image rebuild
  docker-compose.dev-test-OLD-ARCH.yml
Labels: Area: Docker

🐳 Add supervisord support to Dockerfile.production for 3-container architecture
  Dockerfile.production
Labels: Area: Docker
