Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

📊 COMPLETE: Phase 2 Week 22-24 - Advanced Caching & Performance Integration
  PHASE_2_WEEK22_COMPLETION.md
  PHASE_2_WEEK23_COMPLETION.md
  PHASE_2_WEEK24_COMPLETION.md
  PHASE_3_ARCHITECTURE.md
  PHASE_3_ROADMAP.md
  fastapi_app.py
  src/api/fastapi/bulk_operations.py
  src/api/fastapi/image_processing.py
  src/api/system_health.py
  src/jobs/advanced_image_tasks.py
  src/jobs/bulk_media_tasks.py
  src/middleware/performance_middleware.py
  src/services/ai_content_analyzer.py
  src/services/auto_tagging_service.py
  src/services/media_cache_manager.py
  src/services/media_collection_manager.py
  src/services/performance_monitor.py
  src/services/smart_recommendations.py
  src/services/system_optimizer.py
  src/services/thumbnail_generator.py
Labels: Area: API, Area: Services, Area: Documentation

🚀 COMPLETE: Phase 3 Week 27 - Videos API FastAPI Migration
  fastapi_app.py
  src/api/fastapi/ai_services.py
  src/api/fastapi/videos.py
Labels: Area: API

🎯 COMPLETE: Phase 3 Week 28 - Artists API FastAPI Migration
  TODO_PHASE_3_API_MIGRATION.md
  fastapi_app.py
  src/api/fastapi/artists.py
Labels: Area: API, Area: Documentation

🎵 COMPLETE: Phase 3 Week 29 - Playlists API FastAPI Migration
  TODO_PHASE_3_API_MIGRATION.md
  fastapi_app.py
  src/api/fastapi/playlists.py
Labels: Area: API, Area: Documentation

⚙️ COMPLETE: Phase 3 Week 30 - Admin API FastAPI Migration
  TODO_PHASE_3_API_MIGRATION.md
  fastapi_app.py
  src/api/fastapi/admin.py
  src/api/fastapi/auth.py
  src/api/fastapi/settings.py
Labels: Area: API, Area: Documentation

🔧 UPDATE: IP address for Flask Frontend link (192.168.1.152 → 192.168.1.145)
  fastapi_app.py
Labels: none

🔧 FIX: FastAPI startup issues and Pydantic v2 compatibility
  fastapi_app.py
  src/api/fastapi/admin.py
  src/api/fastapi/artists.py
  src/api/fastapi/videos.py
  src/middleware/performance_middleware.py
Labels: Area: API

🎨 COMPLETE: Phase 3 Week 31 - OpenAPI Documentation System
  fastapi_app.py
  frontend/static/swagger-ui-custom.css
  src/api/fastapi/artists.py
  src/api/fastapi/playlists.py
  src/api/fastapi/videos.py
  src/api/openapi_config.py
Labels: Area: API

🏗️ COMPLETE: Phase 3 Week 32 - Centralized Pydantic Validation and Models
  fastapi_app.py
  src/api/fastapi/model_demo.py
  src/api/models/__init__.py
  src/api/models/admin.py
  src/api/models/ai.py
  src/api/models/artist.py
  src/api/models/auth.py
  src/api/models/base.py
  src/api/models/common.py
  src/api/models/health.py
  src/api/models/jobs.py
  src/api/models/media.py
  src/api/models/playlist.py
  src/api/models/settings.py
  src/api/models/validation.py
  src/api/models/video.py
Labels: Area: API

📚 DOCS: Update documentation for FastAPI migration completion
  README.md
  docs/FASTAPI_MIGRATION_COMPLETE.md
Labels: Area: Documentation

📖 CRITICAL: Fix documentation inconsistencies after FastAPI migration
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/INSTALLATION-GUIDE.md
  docs/index.md
  version.json
Labels: Area: Documentation

🔧 FIX: FastAPI service import errors and middleware compatibility
  fastapi_app.py
  src/api/fastapi/music_recommendations.py
  src/api/fastapi/request_logging.py
Labels: Area: API

🔒 FIX: Security validation blocking legitimate browser requests
  src/middleware/security_validation_middleware.py
Labels: none

🔒 ADD: Additional browser headers to security validation whitelist
  src/middleware/security_validation_middleware.py
Labels: none

🔒 FIX: Authentication middleware now redirects browser requests to login
  src/middleware/jwt_auth_middleware.py
Labels: none

Fix JavaScript error: pass statistics parameter to renderArtistHeader function
  frontend/templates/artist_detail.html
Labels: none

Fix renderStatistics function data structure mismatch
  frontend/templates/artist_detail.html
Labels: none

Fix missing metadata in artist detailed API response
  src/api/fastapi/artists.py
Labels: Area: API

Add FastAPI metadata enrichment endpoints
  fastapi_app.py
  src/api/fastapi/metadata_enrichment.py
  src/api/fastapi/musicbrainz.py
  src/api/fastapi/spotify.py
Labels: Area: API

Fix metadata field extraction in FastAPI artist detailed endpoint
  src/api/fastapi/artists.py
Labels: Area: API

Fix Last.fm connection detection and metadata field extraction
  frontend/templates/artist_detail.html
  src/api/fastapi/artists.py
Labels: Area: API

Add FastAPI authentication middleware and configure service
  src/middleware/fastapi_auth_middleware.py
Labels: none

Fix Spotify API service method calls and imports
  src/api/fastapi/spotify.py
Labels: Area: API

Fix MusicBrainz SSL certificate verification error
  src/services/musicbrainz_service.py
Labels: Area: Services

Fix JavaScript metadata search function parameter issues
  frontend/static/main.js
Labels: none

🔧 Complete infrastructure fixes and systemd service implementation
  CURRENT_STATUS_SUMMARY.md
  PRIORITY_FIXES_TODO.md
  README.md
  docs/DEPLOYMENT_GUIDE.md
  docs/INSTALLATION-GUIDE.md
  fastapi_app.py
  fix_imports.py
  fix_userinfo_deps.py
  mvidarr.service
  src/api/fastapi/auth.py
  src/api/fastapi/genres.py
  src/api/fastapi/lastfm.py
  src/api/fastapi/playlists.py
  src/api/fastapi/spotify.py
  src/api/fastapi/videos.py
  src/api/fastapi/week29_integration.py
  src/integrations/youtube_importer.py
  src/services/ai_content_analyzer.py
  src/services/artist_browser_service.py
  src/services/collection_maintenance_service.py
  src/services/collection_organizer.py
  src/services/collection_performance_service.py
  src/services/enhanced_artist_discovery_service.py
  src/services/genre_service.py
  src/services/mobile_web_service.py
  src/services/music_search_service.py
  src/services/network_streaming_service.py
  src/services/playlist_management_service.py
  src/services/smart_home_integration_service.py
  src/services/video_browser_service.py
  src/services/watch_history_service.py
  version.json
Labels: Area: API, Area: Services, Area: Documentation

🔧 CRITICAL: Restore 212 missing API endpoints and authentication
  fastapi_app.py
  src/jobs/bulk_media_tasks.py
Labels: none

🔍 Fix universal search to use real IMVDb and YouTube APIs
  fastapi_app.py
  src/api/fastapi/week29_integration.py
Labels: Area: API

🔐 Fix login loop - Implement proper session cookie authentication
  fastapi_app.py
  src/api/fastapi/auth.py
Labels: Area: API

🎤 Add Artist modal integration and IMVDb search fixes
  CLAUDE.md
  fastapi_app.py
  frontend/admin/dashboard.html
  frontend/static/js/background-jobs.js
  frontend/static/js/video-management-enhanced.js
  frontend/templates/admin/dashboard.html
  frontend/templates/admin/users.html
  frontend/templates/base-optimized.html
  frontend/templates/base.html
  frontend/templates/dashboard.html
  frontend/templates/discover.html
  frontend/templates/errors/404.html
  frontend/templates/errors/500.html
  frontend/templates/index.html
  frontend/templates/jobs.html
  frontend/templates/playlist_detail.html
  frontend/templates/playlists.html
  frontend/templates/videos.html
  process_existing_downloads.py
  process_orphaned_downloads.py
  src/api/fastapi/admin.py
  src/api/fastapi/artists.py
  src/api/fastapi/frontend_router.py
  src/api/fastapi/genres.py
  src/api/fastapi/jobs.py
  src/api/fastapi/template_system.py
  src/api/fastapi/videos.py
  src/api/metube.py
  src/middleware/jwt_auth_middleware.py
  src/services/fastapi_job_integration.py
  src/services/workers/video_download_worker.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Services, Area: Documentation

🔧 Improve artist deletion UI with specific error handling
  frontend/templates/artists.html
  frontend/templates/index.html
Labels: none

🔧 Fix auto-match database persistence and add AllMusic/Wikipedia support
  src/api/fastapi/metadata_enrichment.py
Labels: Area: API

🐛 Add debug logging to auto-match for troubleshooting database persistence
  src/api/fastapi/metadata_enrichment.py
Labels: Area: API

🐛 Add detailed debugging for Spotify and Wikipedia auto-match services
  src/api/fastapi/metadata_enrichment.py
Labels: Area: API

🐛 Add service connection debugging to frontend
  frontend/templates/artist_detail.html
Labels: none

🐛 Add debugging logs for metadata enrichment job ID issue
  frontend/static/js/background-jobs.js
  src/api/fastapi/metadata_enrichment.py
Labels: Area: API

🐛 Fix HybridWorker abstract method implementation
  src/services/background_worker_base.py
Labels: Area: Services

🐛 Fix database context manager in BaseWorker
  src/services/background_worker_base.py
Labels: Area: Services

🐛 Fix WebSocket job progress broadcasting
  src/services/job_queue.py
Labels: Area: Services

🐛 Fix metadata enrichment worker to call actual enrichment service
  src/services/workers/metadata_enrichment_worker.py
Labels: Area: Services

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'
