Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

Fix updateSingleVideoCard null pointer error
  frontend/templates/videos.html
Labels: none

Fix Artists page hardcoded colors to use theme variables
  frontend/templates/artists.html
Labels: none

Complete comprehensive hardcoded color replacement with CSS theme variables
  frontend/src/Calendar/Events/CalendarEvent.css
  frontend/src/System/Events/LogsTableRow.css
  frontend/src/System/Status/styles.css
  frontend/src/System/Updates/Updates.css
  frontend/templates/artists.html
  frontend/templates/base.html
  frontend/templates/lastfm.html
  frontend/templates/mvtv.html
  frontend/templates/plex.html
  frontend/templates/youtube_playlists.html
Labels: none

Enhance theme system with comprehensive customization and import/export
  CLAUDE.md
  frontend/templates/settings.html
  src/api/themes.py
Labels: Area: API, Area: Documentation

Fix theme save error: remove lightThemeData references
  frontend/templates/settings.html
Labels: none

Refactor videos page and update theme backgrounds to solid colors
  frontend/CSS/videos.css
  frontend/static/js/videos-main.js
  frontend/static/js/videos-thumbnails.js
  frontend/templates/components/videos_bulk_actions.html
  frontend/templates/components/videos_modals.html
  frontend/templates/components/videos_pagination.html
  frontend/templates/components/videos_search_panel.html
  frontend/templates/mvtv.html
  frontend/templates/settings.html
  frontend/templates/themes.html
  frontend/templates/videos.html
Labels: none

Remove deprecated themes: LCARS (New), TARDIS, MTV
  remove_deprecated_themes.py
  remove_deprecated_themes.sql
  src/database/init_db.py
Labels: Area: Database

Fix JavaScript errors in refactored videos page
  frontend/static/js/videos-main.js
  frontend/static/js/videos-thumbnails.js
  frontend/templates/components/videos_pagination.html
  frontend/templates/components/videos_search_panel.html
Labels: none

Fix pagination button JavaScript errors
  frontend/static/js/videos-thumbnails.js
Labels: none

Add additional null checks for bulk actions and debugging
  frontend/static/js/videos-main.js
  frontend/static/js/videos-thumbnails.js
Labels: none

Apply required code formatting and update version metadata
  src/api/artists.py
  version.json
Labels: Area: API

Revert videos page refactoring, keep only gradient to solid color change
  frontend/static/js/videos-main.js
  frontend/static/js/videos-thumbnails.js
  frontend/templates/components/videos_bulk_actions.html
  frontend/templates/components/videos_modals.html
  frontend/templates/components/videos_pagination.html
  frontend/templates/components/videos_search_panel.html
  frontend/templates/videos.html
Labels: none

Fix artist page gradients: change to solid secondary color backgrounds
  frontend/templates/artists.html
Labels: none

Fix artists page search panel: change to solid secondary background
  frontend/templates/artists.html
Labels: none

Replace Monitored/Not Monitored text with icons for better layout
  frontend/templates/artists.html
Labels: none

Update theme system with comprehensive built-in themes and icon improvements
  THEME_MIGRATION_SUMMARY.md
  cleanup_themes.py
  create_new_themes.py
  create_new_themes_api.py
  final_theme_migration.sql
  fix_themes_apply.py
  frontend/CSS/main.css
  frontend/templates/artists.html
  frontend/templates/themes.html
  frontend/templates/videos_backup.html
  investigate_theme_issues.py
  new_themes.sql
  remove_deprecated_themes.py
  remove_deprecated_themes.sql
  src/api/themes.py.backup
  src/api/videos.py
  src/database/init_db.py
  src/database/models.py
Labels: Area: API, Area: Database, Area: Documentation

Fix missing loadVideos function causing JavaScript errors on videos page
  frontend/templates/videos.html
Labels: none

Fix thumbnail placeholder reference causing 404 errors
  frontend/templates/videos.html
Labels: none

Fix video player functionality and template literal processing
  frontend/templates/videos.html
Labels: none

Fix loadVideos API parameter compatibility and data structure handling
  frontend/templates/videos.html
Labels: none

Fix missing loadVideos function and authentication in videos page
  frontend/templates/videos.html
Labels: none

Restore complete pagination functionality to videos page
  frontend/templates/videos.html
Labels: none

Fix videos page pagination and template literal injection vulnerabilities
  frontend/templates/videos.html
  frontend/templates/videos_backup.html
Labels: none

Fix missing script tag causing JavaScript code to display on page
  frontend/templates/videos.html
Labels: none

Change modal header from gradient to solid background
  frontend/CSS/main.css
Labels: none

Fix missing refreshVideos function causing ReferenceError
  frontend/templates/videos.html
Labels: none

Fix missing toggleSearchPanel function causing ReferenceError
  frontend/templates/videos.html
Labels: none

Ensure toggleSearchPanel function is globally accessible early
  frontend/templates/videos.html
Labels: none

Fix missing handleSearchKeyup function causing ReferenceError
  frontend/templates/videos.html
Labels: none

Fix search results display to properly filter video list
  frontend/templates/videos.html
Labels: none

Add comprehensive debugging and error handling for search functionality
  frontend/templates/videos.html
Labels: none

Add comprehensive defensive checks and debugging for search results display
  frontend/templates/videos.html
Labels: none

Fix function name conflict causing search results display failure
  frontend/templates/components/add_video_modal.html
Labels: none

Ensure modal-content has solid background with no gradients
  frontend/CSS/main.css
Labels: none

Remove LCARS - TNG theme from built-in themes
  frontend/CSS/Themes.txt
  frontend/CSS/themes.css
  src/api/themes.py
Labels: Area: API

Remove all 4 database-stored built-in themes
  src/database/init_db.py
Labels: Area: Database

Add TARDIS built-in API-based theme
  frontend/CSS/themes.css
  src/api/themes.py
Labels: Area: API

Add Punk 77 and MTV built-in API-based themes
  frontend/CSS/themes.css
  src/api/themes.py
Labels: Area: API

Add LCARS built-in API-based theme
  frontend/CSS/themes.css
  src/api/themes.py
Labels: Area: API

Update version.json for 0.9.3 production release with current commit hash and feature updates
  version.json
Labels: none
