Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

🎨 Fix button border colors with CSS specificity override
  frontend/CSS/buttons.css
  frontend/templates/base.html
Labels: none

🎨 Add !important to CSS to force override conflicting styles
  frontend/CSS/buttons.css
  frontend/templates/artist_detail.html
  frontend/templates/base.html
Labels: none

🎨 Fix button borders and improve stat label layout
  frontend/templates/artist_detail.html
Labels: none

🎨 Fix stat layout to vertical and remove all button borders
  frontend/templates/artist_detail.html
Labels: none

🎨 Make Library Statistics grid responsive with auto-fit
  frontend/templates/artist_detail.html
Labels: none

🐛 Remove debug borders from action-stack and stats-right containers
  frontend/templates/artist_detail.html
Labels: none

✨ Update fonts in artist detail sections to match design
  frontend/templates/artist_detail.html
Labels: none

🎨 Reduce line spacing in artist detail sections
  frontend/templates/artist_detail.html
Labels: none

🎨 Reduce list item line spacing to 1.0
  frontend/templates/artist_detail.html
Labels: none

🎨 Reduce metadata line spacing to 1.0
  frontend/templates/artist_detail.html
Labels: none

🎨 Remove horizontal borders from recommendation list items
  frontend/templates/artist_detail.html
Labels: none

🎨 Reduce spacing between recommendation list items
  frontend/templates/artist_detail.html
Labels: none

🎨 Reduce spacing in Musical Profile and Basic Information cards
  frontend/templates/artist_detail.html
Labels: none

🎨 Make videos grid responsive with auto-fit
  frontend/CSS/main.css
Labels: none

🐛 Fix videos grid showing single column on desktop
  frontend/CSS/main.css
Labels: none

🔧 Add !important to videos-grid to prevent overrides
  frontend/CSS/main.css
Labels: none

🔧 Add inline grid styles to videos-grid element
  frontend/templates/artist_detail.html
Labels: none

🎨 Apply responsive grid to Discover tab videos
  frontend/templates/artist_detail.html
Labels: none

✨ Change Batch Enrich to Enrich All button
  frontend/templates/enrichment.html
Labels: none

🐛 Fix batch enrichment error handling for async Celery jobs
  frontend/templates/enrichment.html
Labels: none

🐛 Fix Enrich All button to use correct candidate ID field
  frontend/templates/enrichment.html
Labels: none

🐛 Fix batch enrichment modal not displaying
  frontend/CSS/main.css
  frontend/templates/base.html
Labels: none

🐛 Fix Smart Auto Enrich button to use existing batch endpoint
  frontend/templates/enrichment.html
Labels: none

🐛 Fix artist navigation display and prev/next button logic
  frontend/templates/artist_detail.html
Labels: none

✨ Add bulk artist auto-match endpoint
  src/api/fastapi/video_indexing.py
Labels: Area: API

♻️ Convert bulk artist auto-match to Celery background job
  frontend/templates/video_indexing.html
  src/api/fastapi/video_indexing.py
  src/jobs/metadata_tasks.py
Labels: Area: API

🐛 Fix bulk auto-match session management issues
  src/jobs/metadata_tasks.py
Labels: none

🔧 Fix MusicBrainz and Spotify service configuration for auto-match
  src/services/artist_auto_processing_service.py
  src/services/spotify_service.py
Labels: Area: Services

🔧 Fix session detachment in bulk auto-match by querying artists individually
  docs/issues/artistdetail.png
  docs/issues/artistdetail2.png
  docs/issues/artistdetail3.png
  docs/issues/artistdetail4-edit.png
  docs/issues/artistdetail4.png
  docs/issues/artistdetail5.png
  docs/issues/artistdetail6.png
  docs/issues/progressbar.png
  docs/issues/systemhealth.png
  docs/issues/systemhealth2.png
  docs/issues/updatedhealth.png
  docs/issues/videogrid.png
  src/jobs/metadata_tasks.py
Labels: Area: Documentation

⏱️ Increase bulk auto-match task timeout to 30 minutes
  src/jobs/metadata_tasks.py
Labels: none

🐛 Remove invalid yt-dlp flags --js-runtimes and --remote-components
  src/services/youtube_download_engine.py
Labels: Area: Services

Fix yt-dlp Node.js runtime detection
  src/services/youtube_download_engine.py
Labels: Area: Services

Release v1.0.0 - First Production Release
  CLAUDE.md
  src/__init__.py
  version.json
Labels: Area: Documentation

🎬 Fix closed caption positioning and styling
  docs/issues/ccissue.png
  frontend/CSS/main.css
  frontend/templates/video_detail.html
Labels: Area: Documentation

🎬 Strengthen caption centering with !important flags and flexbox
  frontend/CSS/main.css
  frontend/templates/video_detail.html
Labels: none

🎬 Add JavaScript to force caption centering (Firefox fix)
  frontend/templates/video_detail.html
  frontend/templates/videos.html
Labels: none

🎬 Fix Chrome STATUS_BREAKPOINT error on video seeking
  src/api/fastapi/videos_streaming.py
Labels: Area: API

🎬 Fix caption centering by stripping VTT positioning directives
  src/api/fastapi/videos_streaming.py
Labels: Area: API

🐛 Fix Chrome STATUS_BREAKPOINT crash on video seeking with subtitles
  frontend/templates/video_detail.html
  frontend/templates/videos.html
Labels: none

🐛 Fix Chrome crash by stripping ALL WebVTT cue settings
  src/api/fastapi/videos_streaming.py
Labels: Area: API
