Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

Fix JavaScript variable redeclaration error for currentTheme
  frontend/templates/base.html
  frontend/templates/settings.html
Labels: none

Fix artist identification popup positioning in all modals
  frontend/CSS/main.css
  frontend/templates/artist_detail.html
  frontend/templates/video_detail.html
  frontend/templates/videos.html
Labels: none

Expand CSS variable usage to dashboard and base templates for theme system
  frontend/templates/base.html
  frontend/templates/dashboard.html
Labels: none

Update LCARS TNG theme with goldenrod backgrounds for sidebar and search bars
  docs/issues/identify artist.png
  frontend/CSS/main.css
  frontend/CSS/themes.css
Labels: Area: Documentation

Update version metadata with current commit information
  version.json
Labels: none

Implement theme support across authentication and admin pages
  frontend/templates/admin/dashboard.html
  frontend/templates/auth/2fa_setup.html
  frontend/templates/auth/2fa_verify.html
  frontend/templates/auth/login.html
  frontend/templates/auth/simple_login.html
Labels: none

Complete theme system implementation across all application pages
  frontend/templates/admin/create_user.html
  frontend/templates/admin/user_details.html
  frontend/templates/admin/users.html
  frontend/templates/dashboard.html
  frontend/templates/profile/profile.html
Labels: none

Update version metadata with complete theme implementation
  version.json
Labels: none

Fix theme settings save functionality error
  frontend/templates/settings.html
Labels: none

Fix theme settings save response parsing
  frontend/templates/settings.html
Labels: none

Implement comprehensive theme customizer feature (Issue #37)
  frontend/templates/base.html
  frontend/templates/themes.html
  src/api/frontend.py
  src/api/routes.py
  src/api/themes.py
  src/api/videos.py
  src/database/init_db.py
  src/database/models.py
Labels: Area: API, Area: Database

Fix theme customizer authentication and JSON parsing errors
  frontend/templates/themes.html
  src/api/themes.py
Labels: Area: API

Fix theme selection and application functionality
  frontend/CSS/main.css
  frontend/templates/base.html
  frontend/templates/themes.html
Labels: none

Fix theme settings API calls and add ui_theme setting
  frontend/templates/base.html
  frontend/templates/themes.html
  src/database/init_db.py
Labels: Area: Database

Fix theme application authentication by adding user-accessible API endpoints
  frontend/templates/base.html
  frontend/templates/themes.html
  src/api/themes.py
Labels: Area: API

Update version metadata with theme authentication fix
  version.json
Labels: none

Fix theme application across all page elements by replacing hardcoded colors with CSS variables
  frontend/CSS/main.css
Labels: none

Move Themes from sidebar to Settings page and remove UI section from General tab
  frontend/templates/base.html
  frontend/templates/settings.html
Labels: none

Fix JavaScript errors after theme UI reorganization
  frontend/templates/settings.html
Labels: none

Fix 404 error when extracting built-in theme variables
  src/api/themes.py
Labels: Area: API

Add comprehensive theme customization for built-in themes with sidebar variables
  frontend/CSS/main.css
  frontend/CSS/themes.css
  frontend/templates/settings.html
  src/api/themes.py
Labels: Area: API

Implement comprehensive theme system with complete variable coverage
  frontend/CSS/themes.css
  src/api/themes.py
Labels: Area: API

Migrate theme system to database architecture and fix live preview
  frontend/CSS/themes.css
  frontend/templates/settings.html
Labels: none

Fix universal search bar to use theme variable
  frontend/templates/base.html
Labels: none

Implement comprehensive modal theming and theme management functionality
  frontend/CSS/main.css
  frontend/CSS/themes.css
  frontend/templates/base.html
  frontend/templates/components/add_video_modal.html
  frontend/templates/mvtv.html
  frontend/templates/settings.html
  frontend/templates/videos.html
  migrations/007_add_light_theme_data.py
  src/api/themes.py
  src/database/models.py
Labels: Area: API, Area: Database

Fix themes API loading error caused by duplicate dictionary key and missing database column
  src/api/themes.py
  src/database/models.py
Labels: Area: API, Area: Database

Add comprehensive error handling and logging to themes API
  frontend/templates/settings.html
  src/api/themes.py
Labels: Area: API

Fix hardcoded colors across major UI sections and pages
  frontend/templates/artist_detail.html
  frontend/templates/artists.html
  frontend/templates/base.html
Labels: none

Expand CSS variable customization with comprehensive theme control
  frontend/templates/settings.html
  src/api/themes.py
Labels: Area: API

Implement comprehensive theme editing with name/description customization
  frontend/templates/settings.html
  src/api/themes.py
Labels: Area: API

Fix theme customization issues with comprehensive dark/light mode support
  frontend/CSS/themes.css
  frontend/templates/base.html
  frontend/templates/settings.html
Labels: none

Fix authentication error in themes API for built-in theme updates
  src/api/themes.py
Labels: Area: API

Fix Save Current Theme issues with duplicates and theme reversion
  frontend/templates/settings.html
  src/api/themes.py
Labels: Area: API

Fix theme identification with string comparison for numeric/string ID consistency
  frontend/templates/settings.html
Labels: none

Add new color themes and remove old LCARS variants
  THEME_MIGRATION_SUMMARY.md
  final_theme_migration.sql
  src/api/themes.py
  src/database/init_db.py
Labels: Area: API, Area: Database, Area: Documentation

Fix theme system issues: missing color schemes and application errors
  create_new_themes.py
  new_themes.sql
  version.json
Labels: none

Fix CI/CD pipeline: resolve critical linting errors
  src/api/videos.py
Labels: Area: API

Add comprehensive theme export/import functionality
  frontend/templates/themes.html
  src/api/themes.py
Labels: Area: API

Implement 0.9.3 milestone features: UI improvements and bulk operations
  frontend/templates/base.html
  frontend/templates/themes.html
  frontend/templates/videos.html
  src/api/videos.py
  version.json
Labels: Area: API

Complete remaining 0.9.3 issues: theme color consistency and modal fixes
  frontend/templates/artist_detail.html
  frontend/templates/videos.html
  version.json
Labels: none
