Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

Make artist header action buttons more compact
  frontend/templates/artist_detail.html
Labels: none

Force compact button styling with \!important declarations
  frontend/templates/artist_detail.html
Labels: none

Fix mobile flex expansion preventing compact buttons
  frontend/templates/artist_detail.html
Labels: none

Use inline styles to force compact button sizing
  frontend/templates/artist_detail.html
Labels: none

Move Enrich from All Services button to stats line
  frontend/templates/artist_detail.html
Labels: none

Stack Auto-Match and Enrichment History buttons below Enrich button
  frontend/templates/artist_detail.html
Labels: none

Put Enrichment History on separate line and remove bottom border
  frontend/templates/artist_detail.html
Labels: none

Add aggressive CSS overrides to force vertical button stack layout
  frontend/templates/artist_detail.html
Labels: none

Place layout override styles at end of document for maximum precedence
  frontend/templates/artist_detail.html
Labels: none

Make buttons uniform width and reduce header spacing
  frontend/templates/artist_detail.html
Labels: none

Remove header bottom margin for tighter layout
  frontend/templates/artist_detail.html
Labels: none

Reduce header padding to 0.5rem for even more compact layout
  frontend/templates/artist_detail.html
Labels: none

Remove Link IMVDb Artist section from artist detail settings
  frontend/templates/artist_detail.html
Labels: none

Fix artist thumbnail download during enrichment process
  frontend/templates/artist_detail.html
Labels: none

Always search for artist thumbnails during enrichment process
  frontend/templates/artist_detail.html
Labels: none

Fix all 12 issues from 0.9.8.usertest2 testing
  data/thumbnails/playlists/large/dynamitest_20250829_155017_aa4046dc_large.jpg
  data/thumbnails/playlists/medium/dynamitest_20250829_155017_aa4046dc_medium.jpg
  data/thumbnails/playlists/original/dynamitest_20250829_155017_aa4046dc_original.jpg
  data/thumbnails/playlists/small/dynamitest_20250829_155017_aa4046dc_small.jpg
  docs/issues/0.9.8.usertest2.md
  docs/issues/artistheader.png
  docs/issues/artistheader1.png
  docs/issues/artistheader2.png
  docs/issues/artistheader3.png
  docs/issues/librarystats.png
  frontend/static/main.js
  frontend/templates/artist_detail.html
  frontend/templates/artists.html
  frontend/templates/lidarr.html
  frontend/templates/mvtv.html
  frontend/templates/search_results.html
  frontend/templates/video_detail.html
  frontend/templates/videos.html
  migrations/005_add_video_metadata_fields.py
  src/api/artists.py
  src/api/bulk_operations_bridge.py
  src/api/playlists.py
  src/api/videos.py
  src/database/models.py
  src/services/allmusic_service.py
  src/services/dynamic_playlist_service.py
  src/services/metadata_enrichment_service.py
  src/services/video_indexing_service.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Database, Area: Services, Area: Documentation

Fix metadata enrichment hanging issue and start 0.9.8.dev
  CLAUDE.md
  frontend/static/js/ui-enhancements.js
  frontend/static/js/video-management-enhanced.js
  frontend/static/js/video-virtualization-integration.js
  frontend/static/js/virtualization-engine.js
  frontend/templates/artist_detail.html
  frontend/templates/components/add_video_modal.html
  frontend/templates/index.html
  frontend/templates/video_detail.html
  frontend/templates/videos.html
  refactor.enrichment.md
  spotify_get_artist_analysis_report.md
  src/__init__.py
  src/api/bulk_operations_bridge.py
  src/api/videos.py
  src/database/models.py
  src/middleware/simple_auth_middleware.py
  src/services/metadata_enrichment_service.py
  src/services/spotify_service.py
Labels: Area: API, Area: Database, Area: Services, Area: Documentation

Phase 1: Implement async Spotify service and HTTP client
  refactor.enrichment.md
  requirements.txt
  src/services/async_spotify_service.py
  src/services/metadata_enrichment_service.py
  src/utils/async_http_client.py
Labels: Area: Services, Area: Utils, Area: Documentation

Add aiohttp dependency to all Docker requirements files
  requirements-prod-conservative.txt
  requirements-prod-optimized.txt
  requirements-prod.txt
Labels: none

Fix async event loop binding issue in Spotify service
  src/services/async_spotify_service.py
Labels: Area: Services

Fix critical global Spotify service lock initialization issue
  src/services/async_spotify_service.py
Labels: Area: Services

Fix final asyncio.Lock() event loop binding issues
  src/services/async_spotify_service.py
  src/utils/async_http_client.py
Labels: Area: Services, Area: Utils

Complete asyncio.Lock() event loop binding fix
  src/services/async_spotify_service.py
  src/utils/async_http_client.py
Labels: Area: Services, Area: Utils

ARCHITECTURAL PIVOT: Complete background job queue system plan
  refactor.enrichment.md
  requirements-prod.txt
  requirements.txt
Labels: Area: Documentation

Implement Week 1: Background job system core infrastructure
  migrations/add_background_job_tables.py
  src/api/jobs.py
  src/database/job_models.py
  src/services/background_worker_base.py
  src/services/background_workers.py
  src/services/job_queue.py
  src/services/job_system_integration.py
Labels: Area: API, Area: Database, Area: Services

Implement Week 2: Real-time WebSocket job progress system
  src/api/websocket_jobs.py
  src/services/background_workers.py
  src/services/flask_job_integration.py
  src/services/job_queue.py
  src/services/websocket_job_events.py
  src/services/workers/__init__.py
  src/services/workers/metadata_enrichment_worker.py
Labels: Area: API, Area: Services

Improve yt-dlp quality format selection with AVC1 and MP4 preferences
  src/services/video_quality_service.py
Labels: Area: Services

Fix jobs API async function compatibility issues
  src/api/jobs.py
Labels: Area: API

Fix video API async function compatibility causing 500 errors
  src/api/videos.py
Labels: Area: API

Fix video quality upgrades not showing in download queue or history
  src/services/video_quality_service.py
Labels: Area: Services

Fix jobs API URL routing conflict causing 404 errors
  src/api/jobs.py
Labels: Area: API

Fix jobs API resilience to handle job system startup issues
  src/api/jobs.py
Labels: Area: API

Fix job system health check showing system errors in UI
  src/api/jobs.py
Labels: Area: API

Fix job system event loop issues and move Job Management to settings
  analyze_js_syntax.py
  app.py
  find_js_error.py
  find_missing_paren.py
  find_orphaned_else.py
  fix_paren_balance.py
  frontend/static/js/background-jobs.js
  frontend/templates/artist_detail.html
  frontend/templates/base.html
  frontend/templates/components/job_dashboard_modal.html
  frontend/templates/settings.html
  precise_js_fix.py
  production_fixes_summary.md
  src/api/metadata_enrichment.py
  src/api/routes.py
  src/api/video_discovery.py
  src/api/video_indexing.py
  src/api/video_organization.py
  src/api/video_quality.py
  src/services/background_workers.py
  src/services/enhanced_scheduler_service.py
  src/services/flask_job_integration.py
  src/services/job_queue.py
  src/services/job_system_integration.py
  src/services/workers/bulk_operations_worker.py
  src/services/workers/metadata_enrichment_worker.py
  src/services/workers/scheduler_worker.py
  src/services/workers/video_download_worker.py
  src/services/workers/video_indexing_worker.py
  src/services/workers/video_organization_worker.py
  src/services/workers/video_quality_worker.py
  src/utils/security.py
  verify_production_fixes.py
Labels: Area: API, Area: Services, Area: Utils, Area: Documentation

Improve job system async handling and authentication flow
  src/api/jobs.py
  src/services/flask_job_integration.py
Labels: Area: API, Area: Services

Fix jobs API authentication by removing conflicting auth decorators
  src/api/jobs.py
Labels: Area: API

Complete jobs API authentication fix by replacing request.user_id with session
  src/api/jobs.py
  src/middleware/dynamic_auth_middleware.py
Labels: Area: API

🚀 COMPLETE: Phase 2 Week 15 - Redis & Celery Background Job Infrastructure
  PHASE_2_PLANNING_DOCUMENT.md
  PHASE_2_WEEK15_COMPLETION.md
  config/redis.conf
  docker-compose.redis.yml
  requirements-phase2.txt
  src/api/fastapi/job_management.py
  src/jobs/__init__.py
  src/jobs/base_task.py
  src/jobs/celery_app.py
  src/jobs/redis_manager.py
  src/jobs/video_download_tasks.py
Labels: Area: API, Area: Docker, Area: Documentation

📊 UPDATE: FastAPI Migration Progress - Phase 1 Complete + Phase 2 Week 15 Complete
  FASTAPI_MIGRATION_PROGRESS_UPDATE.md
Labels: Area: Documentation

🎨 COMPLETE: Phase 2 Week 21 - Advanced Image Operations
  CLAUDE.md
  CURRENT_STATUS_SUMMARY.md
  Dockerfile
  FASTAPI_MIGRATION_PROGRESS_UPDATE.md
  PHASE_2_WEEK16_COMPLETION.md
  PHASE_2_WEEK17_COMPLETION.md
  PHASE_2_WEEK18_COMPLETION.md
  PHASE_2_WEEK19_COMPLETION.md
  PHASE_2_WEEK20_COMPLETION.md
  PHASE_2_WEEK21_COMPLETION.md
  PHASE_2_WEEKS15-17_COMPLETE_SUMMARY.md
  PHASE_2_WEEKS18-24_ROADMAP.md
  app_launcher_v2.py
  docker-compose.redis.yml
  fastapi_app.py
  flask_app_5010.py
  frontend/static/js/background-jobs.js
  frontend/static/js/video-management-enhanced.js
  frontend/templates/components/job_dashboard_modal.html
  mvidarr-flask.service
  mvidarr.service
  scripts/health_check.sh
  src/api/fastapi/advanced_image_processing.py
  src/api/fastapi/image_processing.py
  src/api/fastapi/media_processing.py
  src/api/fastapi/websocket_jobs.py
  src/api/videos.py
  src/jobs/advanced_image_tasks.py
  src/jobs/base_task.py
  src/jobs/celery_app.py
  src/jobs/ffmpeg_processing_tasks.py
  src/jobs/image_processing_tasks.py
  src/jobs/redis_manager.py
  src/jobs/video_download_tasks.py
  src/jobs/video_quality_tasks.py
  src/services/ffmpeg_stream_manager.py
  src/services/image_quality_enhancer.py
  src/services/image_thread_pool.py
  src/services/thumbnail_generator.py
  src/utils/async_subprocess.py
Labels: Area: API, Area: Services, Area: Utils, Area: Docker, Area: Documentation
