Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

🐛 Fix Chrome STATUS_BREAKPOINT crash on timeline hover
  frontend/templates/video_detail.html
  frontend/templates/videos.html
Labels: none

🐛 Fix Chrome crash during video seeking with captions
  frontend/templates/video_detail.html
  frontend/templates/videos.html
Labels: none

🔒 Fix 10 critical security vulnerabilities in dependencies
  requirements-fastapi.txt
  requirements.txt
Labels: none

📋 Migrate to SemVer 0.x versioning scheme: v0.10.0-beta.1
  CLAUDE.md
  README.md
  docs/FASTAPI_MIGRATION_COMPLETE.md
  docs/_tabs/releases.md
  docs/about.md
  docs/features.md
  docs/issues/networkconsole.png
  docs/releases.md
  src/__init__.py
  version.json
Labels: Area: Documentation

🔒 Fix FastAPI/Starlette DoS vulnerabilities (PYSEC-2024-38, GHSA-f96h-pmfr-66vw, GHSA-7f5h-v6xp-fcq8)
  requirements-fastapi.txt
  requirements.txt
Labels: none

Update version metadata with correct commit hash (4fc877e)
  version.json
Labels: none

🐛 Fix MariaDB health check: Use mariadb-admin instead of mysqladmin
  docker-compose.dev-test.yml
  docker-compose.local.yml
  docker-compose.production.yml
  docker-compose.selfhosted.yml
  docker-compose.simple.yml
  docker-compose.yml
Labels: Area: Docker

🐛 Fix Chrome STATUS_BREAKPOINT crash by removing CSP-violating inline handlers
  frontend/templates/artist_detail.html
  frontend/templates/videos.html
Labels: none

🐛 Fix Chrome STATUS_BREAKPOINT crash when seeking videos with subtitles
  src/api/fastapi/videos_streaming.py
Labels: Area: API

🐛 Fix Chrome STATUS_BREAKPOINT crash by preventing subtitle auto-re-enable after seeking
  frontend/templates/video_detail.html
  frontend/templates/videos.html
Labels: none

📚 Update documentation for v0.10.0-beta.1 production deployment
  CLAUDE.md
  docs/BROWSER_COMPATIBILITY.md
  docs/TROUBLESHOOTING.md
  docs/releases.md
  version.json
Labels: Area: Documentation

🔧 Fix security audit workflow - Replace pip semgrep with official action
  .github/workflows/security-scan.yml
  .github/workflows/unified-security.yml
Labels: none

📚 Update GitHub Pages home page to v0.10.0-beta.1
  docs/index.md
Labels: Area: Documentation

📝 Update README.md to v0.10.0-beta.1
  README.md
Labels: Area: Documentation

🐛 Fix Docker build: Update Dockerfile.production after cleanup
  Dockerfile.production
Labels: Area: Docker

🐛 Fix Docker build: Allow requirements.txt in build context
  .dockerignore
Labels: none

🔒 Remove dev-test docker-compose with hardcoded paths
  .gitignore
  docker-compose.dev-test.yml
Labels: Area: Docker

🔧 Simplify Docker deployment: Single compose file & clean configuration
  .env.docker.example
  .env.example
  .env.production.template
  .env.selfhosted.example
  .env.simple.example
  .env.template
  README.md
  docker-compose.local.yml
  docker-compose.production.yml
  docker-compose.selfhosted.yml
  docker-compose.simple.yml
  docker-compose.yml
Labels: Area: Docker, Area: Documentation

📚 Update installation documentation to reflect simplified Docker deployment
  docs/DEPLOYMENT_GUIDE.md
  docs/_tabs/installation.md
  docs/archive/README.md
  docs/installation.md
Labels: Area: Documentation

Revise installation guide with updated screenshots
  docs/INSTALLATION-GUIDE.md
Labels: Area: Documentation

🐛 Fix MariaDB health check failure in docker-compose
  docker-compose.yml
Labels: Area: Docker

🐛 Fix Docker entrypoint: Use entrypoint.sh for proper initialization
  Dockerfile.production
Labels: Area: Docker

🐛 Fix entrypoint.sh execute permission in Docker image
  Dockerfile.production
Labels: Area: Docker

🐛 Fix Flask import in auth_service for FastAPI compatibility
  src/services/auth_service.py
Labels: Area: Services

⚙️ Re-add Flask for backwards compatibility with legacy imports
  requirements.txt
Labels: none

🔧 Remove default admin creation - now handled by Installation Wizard
  src/database/init_db.py
Labels: Area: Database

🐛 Fix entrypoint.sh: Remove premature marker file creation
  entrypoint.sh
Labels: none

🐛 Fix migration 015: Add missing is_active field to system user insert
  migrations/015_seed_built_in_themes.py
Labels: none

🐛 Fix migration 015: Add all required User fields (is_email_verified, failed_login_attempts, two_factor_enabled)
  migrations/015_seed_built_in_themes.py
Labels: none

🐛 Fix migration 015: Skip theme seeding when no admin exists
  migrations/015_seed_built_in_themes.py
Labels: none

✨ Wizard enhancements: Pre-populate API keys and file upload for cookies
  frontend/static/wizard.js
  frontend/templates/wizard.html
  src/api/fastapi/wizard.py
Labels: Area: API

🐛 Fix CI/CD: Skip theme seeding in ensure_themes when no users exist
  src/database/ensure_themes.py
Labels: Area: Database

🐛 Fix Spotify OAuth: Dynamic redirect URI detection
  src/api/fastapi/spotify.py
Labels: Area: API

🐛 Fix CI/CD: Update safety command for v3.x CLI
  .github/workflows/ci-cd.yml
Labels: none

🎨 Format auth_service.py with black
  src/services/auth_service.py
Labels: Area: Services

🐛 Fix JavaScript function name errors in Spotify/Last.fm authorization
  frontend/templates/settings.html
Labels: none

🐛 Fix Spotify integration test response handling
  frontend/templates/settings.html
Labels: none

🐛 Fix Spotify status endpoint to check actual configuration and auth state
  src/api/fastapi/spotify.py
Labels: Area: API

🐛 Fix Spotify playlists endpoint - replace mock data with real API call
  src/api/fastapi/spotify.py
Labels: Area: API

🔐 Fix Spotify token expiration - add automatic token refresh
  src/services/spotify_service.py
Labels: Area: Services
