Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

🎯 Close 0.9.8 User Testing Phase & Begin 0.9.9 Cleanup Phase
  CLAUDE.md
  TESTING_PLAN_0.9.8.md
  frontend/templates/settings.html
  version.json
Labels: Area: Documentation

📊 0.9.9 Phase 1 Complete: Comprehensive Codebase Analysis
  ANALYSIS_REPORT_0.9.9.md
  MILESTONE_0.9.9_CLEANUP.md
Labels: Area: Documentation

📋 Add 0.9.9 Issue Tracking Document
  0.9.9_TRACKING.md
Labels: Area: Documentation

✅ Issue #155 Phase 1: Extract ytdlp utility modules
  src/services/ytdlp_file_detection.py
  src/services/ytdlp_metadata.py
  src/services/ytdlp_service.py
Labels: Area: Services

🐛 Fix download queue issue - replace non-existent sanitize_filename() with sanitize_folder_name()
  src/services/download_service_adapter.py
Labels: Area: Services

🧪 Fix test suite - make Flask import conditional
  tests/conftest.py
Labels: none

🧪 Fix Spotify integration test - update imports for FastAPI migration
  tests/integration/test_spotify_integration.py
Labels: none

🧪 Fix smoke tests - remove Flask dependencies
  tests/test_smoke.py
Labels: none

♻️ Refactor artists.py into modular architecture (2,874 → 6 files)
  src/api/fastapi/artists.py
  src/api/fastapi/artists_bulk.py
  src/api/fastapi/artists_crud.py
  src/api/fastapi/artists_discovery.py
  src/api/fastapi/artists_models.py
  src/api/fastapi/artists_thumbnails.py
Labels: Area: API

📝 Update milestone: artists.py refactoring completed
  MILESTONE_0.9.9_CLEANUP.md
Labels: Area: Documentation

♻️ Refactor videos.py into modular architecture (4,029 → 11 files)
  MILESTONE_0.9.9_CLEANUP.md
  src/api/fastapi/videos.py
  src/api/fastapi/videos_blacklist.py
  src/api/fastapi/videos_bulk.py
  src/api/fastapi/videos_crud.py
  src/api/fastapi/videos_downloads.py
  src/api/fastapi/videos_import.py
  src/api/fastapi/videos_metadata.py
  src/api/fastapi/videos_models.py
  src/api/fastapi/videos_search.py
  src/api/fastapi/videos_streaming.py
  src/api/fastapi/videos_thumbnails.py
Labels: Area: API, Area: Documentation

♻️ Refactor metadata_enrichment_service.py into modular architecture (3,015 → 7 files)
  MILESTONE_0.9.9_CLEANUP.md
  src/services/metadata_aggregators.py
  src/services/metadata_artist_enricher.py
  src/services/metadata_enrichment_service.py
  src/services/metadata_models.py
  src/services/metadata_parsers.py
  src/services/metadata_source_fetchers.py
  src/services/metadata_video_enricher.py
Labels: Area: Services, Area: Documentation

♻️ Refactor import_service.py into modular architecture (2,163 → 4 files)
  MILESTONE_0.9.9_CLEANUP.md
  src/database/import_export_models.py
  src/services/import_operations.py
  src/services/import_parsers.py
  src/services/import_service.py
  src/services/import_validators.py
Labels: Area: Database, Area: Services, Area: Documentation

♻️ Refactor ytdlp_service.py into modular architecture (1,524 → 6 files)
  MILESTONE_0.9.9_CLEANUP.md
  src/services/ytdlp_cookie_manager.py
  src/services/ytdlp_database_sync.py
  src/services/ytdlp_download_manager.py
  src/services/ytdlp_file_cleanup.py
  src/services/ytdlp_history.py
  src/services/ytdlp_service.py
Labels: Area: Services, Area: Documentation

🧹 Clean up playlists.py - remove dead code and fix bugs
  src/api/fastapi/playlists.py
Labels: Area: API

🧹 Remove 112 unused imports - Batch 1 (middleware, testing, database, utils)
  src/database/async_connection.py
  src/database/bulk_models.py
  src/database/connection.py
  src/database/import_export_models.py
  src/database/init_db.py
  src/database/job_models.py
  src/database/migrations.py
  src/database/models.py
  src/database/performance_optimizations.py
  src/middleware/analytics_middleware.py
  src/middleware/api_gateway_middleware.py
  src/middleware/auth_middleware.py
  src/middleware/auto_scaling_middleware.py
  src/middleware/circuit_breaker_middleware.py
  src/middleware/dynamic_auth_middleware.py
  src/middleware/jwt_auth_middleware.py
  src/middleware/performance_middleware.py
  src/middleware/rate_limiting_middleware.py
  src/middleware/security_validation_middleware.py
  src/middleware/simple_auth_middleware.py
  src/testing/load_testing.py
  src/testing/load_testing_framework.py
  src/testing/migration_validation.py
  src/testing/performance_benchmarks.py
  src/testing/performance_validation.py
  src/utils/async_http_client.py
  src/utils/async_subprocess.py
  src/utils/httpx_async_client.py
  src/utils/javascript_modernizer.py
  src/utils/logger.py
  src/utils/performance_tester.py
  src/utils/performance_testing.py
  src/utils/security.py
  src/utils/security_assessment.py
  src/utils/structured_logger.py
Labels: Area: Database, Area: Utils

🧹 Remove 89 unused imports - Batch 2 (auth, config, jobs, api/models)
  src/api/models/admin.py
  src/api/models/ai.py
  src/api/models/artist.py
  src/api/models/auth.py
  src/api/models/base.py
  src/api/models/common.py
  src/api/models/health.py
  src/api/models/jobs.py
  src/api/models/media.py
  src/api/models/playlist.py
  src/api/models/settings.py
  src/api/models/validation.py
  src/api/models/video.py
  src/auth/dependencies.py
  src/auth/jwt_handler.py
  src/config/production_config.py
  src/jobs/advanced_image_tasks.py
  src/jobs/base_task.py
  src/jobs/bulk_media_tasks.py
  src/jobs/collection_optimization.py
  src/jobs/download_processor_task.py
  src/jobs/ffmpeg_processing_tasks.py
  src/jobs/image_processing_tasks.py
  src/jobs/metadata_tasks.py
  src/jobs/redis_manager.py
  src/jobs/video_quality_tasks.py
Labels: Area: API, Area: Configuration

📝 Update 0.9.9 cleanup milestone documentation
  MILESTONE_0.9.9_CLEANUP.md
Labels: Area: Documentation

🧹 Remove 10 unused imports - Batch 3 (small API endpoints)
  src/api/fastapi/auth.py
  src/api/fastapi/frontend_router.py
  src/api/fastapi/genres.py
  src/api/fastapi/lastfm.py
  src/api/fastapi/settings.py
Labels: Area: API

📝 Update 0.9.9 cleanup milestone - Batch 3 complete
  MILESTONE_0.9.9_CLEANUP.md
Labels: Area: Documentation

🧹 Remove 15 unused imports - Batch 4 (small services)
  src/services/genre_service.py
  src/services/job_scheduler.py
  src/services/redis_manager.py
  src/services/redis_service.py
  src/services/settings_service.py
  src/services/vlc_streaming_service.py
  src/services/wikipedia_service.py
  src/services/youtube_service.py
Labels: Area: Services

📝 Update 0.9.9 cleanup milestone - Batch 4 complete
  MILESTONE_0.9.9_CLEANUP.md
Labels: Area: Documentation

🧹 Remove 20 unused imports - Batch 5 (medium services)
  src/services/artist_service.py
  src/services/async_admin_service.py
  src/services/async_youtube_service.py
  src/services/audit_service.py
  src/services/error_handling_service.py
  src/services/musicbrainz_service.py
  src/services/search_optimization_service.py
  src/services/spotify_connect_service.py
  src/services/user_service.py
  src/services/youtube_search_service.py
Labels: Area: Services

📝 Update 0.9.9 cleanup milestone - Batch 5 complete
  MILESTONE_0.9.9_CLEANUP.md
Labels: Area: Documentation

📝 Update 0.9.9 cleanup milestone - Batch 6 MASSIVE CLEANUP complete (66% done)
  MILESTONE_0.9.9_CLEANUP.md
Labels: Area: Documentation

🧹 Clean final 11 unused imports - 100% import cleanup complete! (Batch 7)
  src/api/openapi_config.py
  src/auth_integration.py
  src/integrations/youtube_importer.py
Labels: Area: API

📝 Update milestone - 100% IMPORT CLEANUP COMPLETE! 🎉
  MILESTONE_0.9.9_CLEANUP.md
Labels: Area: Documentation

♻️ Refactor ffmpeg_processing_tasks.py into modular architecture (1,693 → 5 files)
  src/jobs/ffmpeg_conversion_tasks.py
  src/jobs/ffmpeg_metadata_tasks.py
  src/jobs/ffmpeg_processing_tasks.py
  src/jobs/ffmpeg_quality_tasks.py
  src/jobs/ffmpeg_thumbnail_tasks.py
Labels: none

♻️ Refactor ffmpeg_stream_manager.py into modular architecture (1,643 → 6 files)
  src/services/ffmpeg_conversion.py
  src/services/ffmpeg_metadata.py
  src/services/ffmpeg_progress.py
  src/services/ffmpeg_stream_manager.py
  src/services/ffmpeg_streaming.py
  src/services/ffmpeg_thumbnail.py
Labels: Area: Services

♻️ Refactor imvdb_service.py into modular package architecture (1,528 → 5 files)
  src/services/imvdb/__init__.py
  src/services/imvdb/imvdb_client.py
  src/services/imvdb/imvdb_metadata.py
  src/services/imvdb/imvdb_quality.py
  src/services/imvdb/imvdb_search.py
  src/services/imvdb_service.py
  src/services/imvdb_service.py.backup-20251014-205443
Labels: Area: Services

📝 Update milestone - Phase 2 & 3 COMPLETE! 🎉
  MILESTONE_0.9.9_CLEANUP.md
Labels: Area: Documentation

✅ Add comprehensive Playwright E2E test suite - 100% passing
  .github/workflows/playwright-tests.yml
  PLAYWRIGHT_TESTS_FIXED.md
  PLAYWRIGHT_TESTS_SUMMARY.md
  PLAYWRIGHT_TEST_RUN_RESULTS.md
  tests/playwright/.gitignore
  tests/playwright/README.md
  tests/playwright/TEST_COVERAGE.md
  tests/playwright/package.json
  tests/playwright/playwright.config.ts
  tests/playwright/quickstart.sh
  tests/playwright/tests/api.spec.ts
  tests/playwright/tests/auth.spec.ts
  tests/playwright/tests/example.spec.ts
  tests/playwright/tests/helpers.ts
  tests/playwright/tests/pages.spec.ts
Labels: Area: Documentation

📝 Document Phase 3 completion - Major milestone achieved!
  PHASE_3_COMPLETE.md
Labels: Area: Documentation

🔧 Update systemd services and version for Phase 3 completion
  SERVICE_MANAGEMENT.md
  scripts/manage-services.sh
  version.json
Labels: Area: Documentation

📝 Add service update summary documentation
  SERVICE_UPDATE_SUMMARY.md
Labels: Area: Documentation

✅ Document successful service start with Phase 3 configuration
  SERVICE_START_SUCCESS.md
Labels: Area: Documentation

📝 Document user testing issues 1-4 with detailed fix plans
  USER_TESTING_FIXES.md
Labels: Area: Documentation

🐛 Fix user testing issues #1 and #3
  celerybeat-schedule
  fastapi_app.py
  frontend/templates/admin/dashboard.html
  frontend/templates/artists.html
  frontend/templates/dashboard.html
  frontend/templates/index.html
  src/api/fastapi/client_generation.py.backup-20251016-153345
  src/api/fastapi/metadata_enrichment.py.backup-20251016-151545
  src/api/fastapi/playlists.py.backup-20251016-145704
  src/services/import_service.py.backup-20251014-132131
  src/services/imvdb_service.py.backup-20251014-205443
  src/services/metadata_artist_enricher.py
  src/services/metadata_enrichment_service.py.backup-20251013-193656
  src/services/ytdlp_service.py.backup-20251014-133231
Labels: Area: API, Area: Services

📝 Update USER_TESTING_FIXES.md - Issues #1 and #3 complete
  USER_TESTING_FIXES.md
Labels: Area: Documentation

✅ Fix Issue #4: Auto-download now triggers on video import
  USER_TESTING_FIXES.md
  src/api/fastapi/videos_import.py
Labels: Area: API, Area: Documentation
