Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

Update README.md for version 0.9.3 release
  README.md
Labels: Area: Documentation

Prepare dev branch for version 0.9.4 development cycle
  src/__init__.py
  version.json
Labels: none

Fix linting error: Remove deprecated lastfm service usage
  src/api/artists.py
Labels: Area: API

Fix linting error: Remove deprecated lastfm service usage
  src/api/artists.py
Labels: Area: API

Format code with black after removing lastfm service code
  src/api/artists.py
Labels: Area: API

Format code with black after removing lastfm service code
  src/api/artists.py
Labels: Area: API

Split requirements into production and development dependencies
  .dockerignore
  .github/workflows/ci.yml
  CLAUDE.md
  Dockerfile.production
  docs/INSTALLATION-GUIDE.md
  requirements-dev.txt
  requirements-prod.txt
Labels: Area: Docker, Area: Documentation

Implement effective multi-stage Docker build
  Dockerfile.production
Labels: Area: Docker

Implement Docker optimization for v0.9.4 on dev branch
  .dockerignore
  .github/workflows/ci.yml
  CLAUDE.md
  Dockerfile.production
  docs/INSTALLATION-GUIDE.md
  requirements-dev.txt
  requirements-prod.txt
Labels: Area: Docker, Area: Documentation

Optimize Docker layer caching and build process
  Dockerfile.production
Labels: Area: Docker

Analyze heavy Python dependencies for optimization
  Dockerfile.test-optimized
  requirements-prod-conservative.txt
  requirements-prod-optimized.txt
Labels: Area: Docker

Create Docker image size monitoring and validation tools
  .github/workflows/docker-size-monitoring.yml
  scripts/docker-size-monitor.sh
Labels: none

Fix Docker build timeout issues in Dockerfile.production
  Dockerfile.production
Labels: Area: Docker

Implement comprehensive Docker build monitoring infrastructure
  .dockerignore
  .env.backup
  .github/workflows/docker-monitoring.yml
  docs/DOCKER_OPTIMIZATION_GUIDE.md
  frontend/templates/videos-notworking.html
  scripts/build-context-analyzer.sh
  scripts/docker-size-monitor.sh
  src/api/themes.py.backup
Labels: Area: API, Area: Documentation

Create comprehensive 0.9.6 Quality Assurance milestone roadmap
  MILESTONE_ROADMAP.md
Labels: Area: Documentation

Add comprehensive 0.9.6 Quality Assurance milestone documentation
  docs/0.9.6-QUALITY_ASSURANCE_PLAN.md
Labels: Area: Documentation

Complete 0.9.5 milestone strategic restructuring following CLAUDE.md principles
  docs/0.9.5-STRATEGIC_PIVOT.md
Labels: Area: Documentation

Remove non-functional notification settings from artist page
  frontend/templates/artist_detail.html
Labels: none

Transition dev branch to v0.9.5 development cycle
  src/__init__.py
  version.json
Labels: none

Fix Docker size monitoring workflow to handle warnings gracefully
  .github/workflows/docker-size-monitoring.yml
Labels: none

Adjust Docker image size thresholds based on optimized build results
  .github/workflows/docker-size-monitoring.yml
  scripts/docker-size-monitor.sh
Labels: none

Fix Docker Build and Size Monitoring workflow for locally built images
  .github/workflows/docker-monitoring.yml
  scripts/docker-size-monitor.sh
Labels: none

Update README.md to reflect v0.9.4 release and Docker optimizations
  README.md
Labels: Area: Documentation

Implement GitHub Pages with Jekyll and Minima theme
  .github/workflows/pages.yml
  CLAUDE.md
  _config.yml
  about.md
  documentation.md
  features.md
  index.md
  installation.md
  releases.md
Labels: Area: Documentation

Fix GitHub Pages workflow to use current action versions
  .github/workflows/pages.yml
Labels: none

Fix YAML syntax errors in Jekyll _config.yml
  _config.yml
Labels: none

Fix YAML syntax errors in Jekyll configuration
  _config.yml
Labels: none

Fix documentation page broken links and structure
  documentation.md
Labels: Area: Documentation

Fix GitHub repository URLs in documentation page
  documentation.md
Labels: Area: Documentation

Move Jekyll site files to docs directory for GitHub Pages
  docs/_config.yml
  docs/about.md
  docs/documentation.md
  docs/features.md
  docs/index.md
  docs/installation.md
  docs/releases.md
Labels: Area: Documentation

Fix Installation Guide link on documentation page
  docs/documentation.md
Labels: Area: Documentation

Fix Release Notes link on documentation page
  docs/documentation.md
Labels: Area: Documentation

Force rebuild of documentation page to fix caching
  docs/documentation.md
Labels: Area: Documentation

Improve USER-GUIDE.md screenshot documentation and analysis
  docs/SCREENSHOT_IMPROVEMENT_RECOMMENDATIONS.md
  docs/USER-GUIDE.md
Labels: Area: Documentation

Fix MVTV player video loading limit and implement random selection
  frontend/templates/mvtv.html
Labels: none

Add comprehensive documentation for MVTV player fix
  docs/MVTV_PLAYER_FIX_SUMMARY.md
Labels: Area: Documentation

Complete comprehensive testing of MVTV player fix
  docs/MVTV_PLAYER_TEST_RESULTS.md
Labels: Area: Documentation

Update documentation.md
  docs/documentation.md
Labels: Area: Documentation

Feature Polish & User Workflow Refinement - Complete implementation
  frontend/templates/components/add_video_modal.html
  frontend/templates/videos.html
Labels: none

Feature Polish & User Workflow Refinement - Complete implementation
  frontend/templates/components/add_video_modal.html
  frontend/templates/videos.html
Labels: none
