Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

🔧 Add robust file rename error handling for quality upgrade downloads
  src/services/youtube_download_engine.py
Labels: Area: Services

🐛 Fix video quality upgrade button and MvTV navigation link
  frontend/templates/artist_detail.html
  src/api/artists.py
  src/api/fastapi/artists.py
  src/api/fastapi/template_system.py
  src/api/fastapi/video_quality.py
  src/services/video_quality_service.py
Labels: Area: API, Area: Services

🐛 Fix system status showing 'Deprecated' in settings
  frontend/templates/settings.html
Labels: none

📋 Complete 0.9.8 user testing investigation - 7/11 issues resolved
  0.9.8_INVESTIGATION_COMPLETE.md
Labels: Area: Documentation

🎨 Remove non-functional progress bars until real-time updates implemented
  frontend/templates/index.html
  frontend/templates/videos.html
Labels: none

🔧 Fix GitHub Actions workflow failures - remove npm cache
  .github/workflows/playwright-tests.yml
Labels: none

Fix yarl version conflict with aiohttp
  requirements-prod.txt
Labels: none

Fix Docker startup and missing dependencies
  entrypoint-debug.sh
  entrypoint.sh
  requirements-prod.txt
Labels: none

Fix docker-compose entrypoints to use fastapi_app.py
  docker-compose.minimal.yml
  docker-compose.production.yml
  docker-compose.yml
Labels: Area: Docker

Add package-lock.json for npm ci in GitHub Actions
  package-lock.json
Labels: none

Fix Playwright workflow database initialization
  .github/workflows/playwright-tests.yml
Labels: none

Fix workflow failures: add FastAPI deps and fix yarl conflict
  .github/workflows/playwright-tests.yml
  requirements.txt
Labels: none

Add netifaces dependency for local network share service
  requirements-prod.txt
  requirements.txt
Labels: none

Fix linting errors: add missing imports and flake8 config
  .flake8
  src/api/models/common.py
  src/api/models/video.py
  src/api/system_health.py
  src/api/videos.py
  src/jobs/bulk_media_tasks.py
  src/services/smart_home_integration_service.py
Labels: Area: API, Area: Services

Fix Dockerfile.production to copy fastapi_app.py instead of app.py
  Dockerfile.production
Labels: Area: Docker

Fix remaining linting errors and exclude broken files
  .flake8
  src/api/fastapi/production_monitoring.py
  src/api/fastapi/video_quality.py
  src/api/fastapi/videos.py
Labels: Area: API

Disable Kubernetes and Playwright workflows for dev branch
  .github/workflows/kubernetes-deployment.yml
  .github/workflows/playwright-tests.yml
Labels: none

Add FastAPI dependencies to production Docker build
  Dockerfile.production
Labels: Area: Docker

Fix code formatting with Black and isort
  src/api/fastapi/admin.py
  src/api/fastapi/auth.py
  src/api/fastapi/frontend_router.py
  src/api/fastapi/metube.py
  src/api/fastapi/oauth_setup.py
  src/api/fastapi/playlists.py
  src/api/fastapi/videos.py
  src/jobs/metadata_tasks.py
  src/services/advanced_search_service.py
  src/services/artist_auto_processing_service.py
  src/services/metadata_enrichment_service.py
  src/services/thumbnail_service.py
  src/services/video_indexing_service.py
  src/services/youtube_download_engine.py
  src/services/youtube_oauth_service.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Services

Add zeroconf dependency for local network share service
  requirements-prod.txt
  requirements.txt
Labels: none

Add missing dependencies found in comprehensive audit
  requirements-prod.txt
  requirements.txt
Labels: none

🐛 Fix oauth_setup import error and code formatting
  fastapi_app.py
  src/api/fastapi/metube.py
  src/api/fastapi/playlists.py
  src/services/metadata_enrichment_service.py
  src/services/video_indexing_service.py
  src/services/youtube_download_engine.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Services

🔧 Exclude broken tests from CI/CD pipeline
  tests/pytest.ini
Labels: none

🔧 Disable broken test files by renaming them
  tests/DISABLED_test_final_verification_170.py
  tests/DISABLED_test_lyrics_and_upgrade.py
  tests/DISABLED_test_lyrics_display_fix.py
  tests/DISABLED_test_video_170_comprehensive.py
  tests/integration/DISABLED_test_cross_service_integration.py
  tests/integration/DISABLED_test_metadata_providers_integration.py
  tests/pytest.ini
Labels: none

🔧 Disable broken media server integration tests
  tests/integration/DISABLED_test_media_server_integration.py
Labels: none

📊 Complete test suite audit and disable broken tests
  TEST_STATUS_0.9.8.md
  tests/integration/DISABLED_test_system_integration.py
  tests/visual/DISABLED_test_visual_regression.py
Labels: Area: Documentation

🔧 Add automatic database migration execution to Docker entrypoint
  entrypoint.sh
Labels: none

🐛 Fix migration import path in Docker entrypoint
  entrypoint.sh
Labels: none

🔧 Fix Redis connection to use CELERY_BROKER_URL environment variable
  src/jobs/redis_manager.py
  src/services/redis_manager.py
Labels: Area: Services

🔧 Fix migration system to dynamically load file-based migrations
  src/database/migrations.py
Labels: Area: Database

🎨 Format code with Black and isort
  src/database/migrations.py
  src/jobs/redis_manager.py
  src/services/redis_manager.py
Labels: Area: Database, Area: Services

🔧 Fix migration 004 to use SQLAlchemy text() wrapper
  migrations/004_add_thumbnail_metadata.py
Labels: none

🔧 Add idempotency check to migration 004
  migrations/004_add_thumbnail_metadata.py
Labels: none

🔧 Fix migration system connection handling - Remove commits from file-based migrations
  migrations/004_add_thumbnail_metadata.py
  migrations/006_add_sort_name_field.py
Labels: none

🔧 Critical Fix: Pass connection to file-based migrations instead of using get_db()
  migrations/004_add_thumbnail_metadata.py
  src/database/migrations.py
Labels: Area: Database

🔧 Fix migration 006 connection architecture to prevent 'Connection is closed' errors
  migrations/006_add_sort_name_field.py
Labels: none

🔧 Fix migrations 007-010 connection architecture to prevent 'Connection is closed' errors
  migrations/007_add_light_theme_data.py
  migrations/008_add_advanced_search_tables.py
  migrations/009_add_bulk_operations_tables.py
  migrations/010_add_video_enrichment_fields.py
Labels: none

🔧 Fix migration 006 to use raw SQL instead of ORM for sort_name population
  migrations/006_add_sort_name_field.py
Labels: none

🔧 Fix all broken database migrations - comprehensive batch fix
  migrations/003_add_download_priority.py
  migrations/005_fix_missing_folder_paths.py
  migrations/011_add_playlist_thumbnail.py
  migrations/012_add_dynamic_playlists.py
  migrations/013_add_artist_labels_members.py
  migrations/014_add_video_quality_check_fields.py
  migrations/add_background_job_tables.py
Labels: none

🔧 Fix migration 008 MySQL/MariaDB syntax errors
  migrations/008_add_advanced_search_tables.py
Labels: none
