Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

Add granular debugging for success modal and metadata update flow
  frontend/templates/artist_detail.html
Labels: none

Add debugging to identify metadata persistence issue
  src/services/metadata_enrichment_service.py
Labels: Area: Services

Add comprehensive debugging for database persistence issue
  src/services/metadata_enrichment_service.py
Labels: Area: Services

CRITICAL FIX: Add flag_modified for SQLAlchemy JSON field tracking
  src/services/metadata_enrichment_service.py
Labels: Area: Services

Add enriched metadata display for Musical Info section
  frontend/templates/artist_detail.html
Labels: none

Fix success modal, Spotify recommendations, and Settings tab display
  frontend/templates/artist_detail.html
Labels: none

Fix metadata enrichment success modal JavaScript errors
  frontend/templates/artist_detail.html
Labels: none

Replace complex enrichment modal with simple toast message
  frontend/templates/artist_detail.html
Labels: none

Integrate Spotify recommendations into main enrichment process
  frontend/templates/artist_detail.html
Labels: none

Add comprehensive Spotify recommendations debug logging
  frontend/templates/artist_detail.html
Labels: none

Add comprehensive backend Spotify enrichment debugging
  src/services/metadata_enrichment_service.py
Labels: Area: Services

Fix Spotify enrichment authentication using client credentials flow
  src/services/metadata_enrichment_service.py
Labels: Area: Services

Clean up Spotify song recommendations display
  frontend/templates/artist_detail.html
Labels: none

Fix Spotify recommendations to use /discover page instead of /search
  frontend/templates/artist_detail.html
Labels: none

Reorganize Spotify recommendations into separate cards
  frontend/templates/artist_detail.html
Labels: none

Add debugging to Spotify recommendations rendering
  frontend/templates/artist_detail.html
Labels: none

Add temporary mock related artists to test separate cards display
  frontend/templates/artist_detail.html
Labels: none

Create truly separate cards for song and artist recommendations
  frontend/templates/artist_detail.html
Labels: none

Fix JavaScript error: content is not defined
  frontend/templates/artist_detail.html
Labels: none

Update metadata services, artist discovery, and UI components
  CLAUDE.md
  frontend/static/main.js
  frontend/templates/artist_detail.html
  frontend/templates/artists.html
  frontend/templates/components/add_video_modal.html
  frontend/templates/settings.html
  migrations/013_add_artist_labels_members.py
  mvidarr.db
  src/api/artists.py
  src/api/metadata_enrichment.py
  src/database/migrations.py
  src/database/models.py
  src/services/artist_auto_processing_service.py
  src/services/discogs_service.py
  src/services/enhanced_artist_discovery_service.py
  src/services/imvdb_service.py
  src/services/lastfm_service.py
  src/services/metadata_enrichment_service.py
  src/services/musicbrainz_service.py
  src/services/settings_service.py
  src/services/spotify_sync_service.py
  src/services/video_indexing_service.py
  src/services/youtube_playlist_service.py
  src/utils/security.py
Labels: Area: API, Area: Database, Area: Services, Area: Utils, Area: Documentation

Implement comprehensive YouTube quality check system for accurate upgrade detection
  0.9.8.usertesting.md
  migrations/014_add_video_quality_check_fields.py
  src/api/video_quality.py
  src/database/models.py
  src/services/video_quality_service.py
  src/services/youtube_quality_check_service.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Database, Area: Services, Area: Documentation

Fix YouTube quality check system and add manual trigger button
  frontend/templates/settings.html
  src/api/video_quality.py
  src/services/youtube_quality_check_service.py
Labels: Area: API, Area: Services

Modify quality check to process ALL videos in library instead of just first 50
  frontend/templates/settings.html
  src/api/video_quality.py
  src/services/youtube_quality_check_service.py
Labels: Area: API, Area: Services

Add comprehensive YouTube SABR workarounds with configurable settings
  frontend/templates/settings.html
  src/api/routes.py
  src/api/ytdlp.py
  src/services/video_quality_service.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Services

Implement automatic cleanup of original files during quality upgrades
  frontend/templates/settings.html
  src/api/video_quality.py
  src/services/video_quality_service.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Services

Fix YouTube cookie status API and reorganize authentication settings
  frontend/templates/settings.html
  src/api/ytdlp.py
Labels: Area: API

Fix user testing issues: Quality Analysis UI, 503 errors, settings navigation
  frontend/CSS/main.css
  frontend/static/main.js
  frontend/templates/artist_detail.html
  frontend/templates/settings.html
  frontend/templates/video_detail.html
  src/api/video_quality.py
  src/services/video_quality_service.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Services

Fix themes page 'save current theme' JSON parsing error and update cyber theme
  frontend/templates/settings.html
  src/api/themes.py
Labels: Area: API

Fix cyber theme primary button color persistence issue
  src/api/themes.py
Labels: Area: API

Fix Enrichment Dashboard 404 error by adding missing route
  src/api/frontend.py
Labels: Area: API

Enhance enrichment dashboard with comprehensive "Enrich from All Services" functionality
  frontend/templates/enrichment.html
Labels: none

Fix playlist creation modal scroll issue for dynamic filters
  frontend/templates/playlists.html
Labels: none

Fix original video player auto-resume when exiting cinematic mode
  frontend/templates/mvtv.html
Labels: none

Make recommended artist names match song recommendation title formatting
  frontend/templates/artist_detail.html
Labels: none

Fix artist detail page metadata display issues
  frontend/templates/artist_detail.html
Labels: none

Enhance biography text cleaning to handle 'Good' on separate lines
  frontend/templates/artist_detail.html
Labels: none

Fix persistent quality indicators in artist metadata display
  frontend/templates/artist_detail.html
Labels: none

Remove quality indicator text from artist detail section headers
  frontend/templates/artist_detail.html
Labels: none

Add source attribution back to key musical profile metrics
  frontend/templates/artist_detail.html
Labels: none

Update Library Statistics border styling to match artist navigation
  frontend/templates/artist_detail.html
Labels: none
