Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

Fix version number in README.md to v0.9.1
  README.md
Labels: Area: Documentation

Fix authentication system and credentials update functionality
  database/mariadb/aria_log_control
  frontend/static/main.js
  src/api/auth.py
  src/api/simple_auth.py
  src/middleware/dynamic_auth_middleware.py
Labels: Area: API

Ensure default authentication credentials are created if missing
  app.py
  src/database/init_db.py
  src/services/simple_auth_service.py
Labels: Area: Database, Area: Services

Fix Docker health check authentication blocking
  src/api/health.py
  src/middleware/dynamic_auth_middleware.py
Labels: Area: API

Delete .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

Delete .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Fix simple auth login by unifying authentication systems
  src/middleware/dynamic_auth_middleware.py
  src/services/simple_auth_service.py
Labels: Area: Services

Add debug logging to authentication to diagnose login failure
  src/services/simple_auth_service.py
Labels: Area: Services

Add credentials reset functionality to fix authentication
  src/api/auth.py
  src/database/init_db.py
Labels: Area: API, Area: Database

Auto-fix corrupted default credentials on login attempt
  src/services/simple_auth_service.py
Labels: Area: Services

Add detailed logging for default credentials initialization
  src/database/init_db.py
Labels: Area: Database

Fix session persistence by using consistent SECRET_KEY
  app.py
Labels: none

Fix session persistence by preventing security config override
  src/middleware/dynamic_auth_middleware.py
  src/security_config.py
Labels: none

Format session persistence fix with Black and isort
  src/middleware/dynamic_auth_middleware.py
  src/security_config.py
Labels: none

Fix production mode session persistence over HTTP
  app.py
  src/security_config.py
Labels: none

Address multiple UI and functionality improvements
  frontend/templates/base.html
  src/api/videos.py
  src/database/init_db.py
  src/services/video_organization_service.py
Labels: Area: API, Area: Database, Area: Services

Fix logout button failing due to route conflict
  frontend/templates/base.html
  src/middleware/dynamic_auth_middleware.py
Labels: none

Fix metadata refresh and IMVDb artist search issues
  frontend/templates/artist_detail.html
  src/services/imvdb_service.py
Labels: Area: Services

Fix metadata refresh and video download permission issues
  docker-compose.yml
  src/api/videos.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Services, Area: Docker

Format Python files with Black and isort
  src/api/videos.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Services

Fix SQLAlchemy DetachedInstanceError in metadata refresh
  src/api/videos.py
Labels: Area: API

Fix additional SQLAlchemy session issues in videos.py and artists.py
  src/api/artists.py
  src/api/videos.py
Labels: Area: API

Enhance video thumbnail search with fallback capabilities and Google Images
  src/api/videos.py
Labels: Area: API

Enhance video metadata refresh with YouTube fallback capability
  src/api/videos.py
Labels: Area: API

Fix DetachedInstanceError in video thumbnail search
  src/api/videos.py
Labels: Area: API

Fix IMVDb update modal loading and DOM cleanup issues
  frontend/static/toast.js
  frontend/templates/artist_detail.html
Labels: none

Add comprehensive security action plan
  security-todo.md
Labels: Area: Documentation

Fix IMVDb modal display issues with enhanced debugging
  frontend/templates/artist_detail.html
Labels: none

Fix artist cards display and bulk edit functionality
  frontend/templates/artist_detail.html
  frontend/templates/artists.html
  src/api/artists.py
  src/api/videos.py
Labels: Area: API

Fix missing or_ import in videos.py
  src/api/videos.py
Labels: Area: API

Fix video interface issues and enhance functionality
  frontend/templates/artist_detail.html
  frontend/templates/videos.html
  src/api/videos.py
Labels: Area: API

Fix refresh-all-metadata 500 error by correcting settings import
  src/api/videos.py
Labels: Area: API

Fix IMVDb modal display issue
  frontend/templates/artist_detail.html
Labels: none

Create simple, guaranteed-visible IMVDb modal
  frontend/templates/artist_detail.html
Labels: none

Improve Refresh Thumbnails functionality and messaging
  src/api/videos.py
Labels: Area: API

Fix refresh-all-metadata 500 error by resolving session management issues
  src/api/videos.py
Labels: Area: API

Fix video download 500 error with empty local_path validation
  src/api/videos.py
Labels: Area: API

Format videos.py with black for CI compliance
  src/api/videos.py
Labels: Area: API

Add comprehensive logging to video download endpoint for debugging
  src/api/videos.py
Labels: Area: API

Fix multiple critical issues across video processing and downloads
  UpdateFromIMVDb.png
  database/mariadb/aria_log_control
  frontend/templates/videos.html
  security_assessment_report.md
  src/api/videos.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Services, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'
