Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

Fix video downloads and thumbnail search to respect artist folder paths
  frontend/templates/artist_detail.html
  frontend/templates/videos.html
  src/api/videos.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Services

Fix thumbnail search and video download issues
  src/services/settings_service.py
  src/services/video_organization_service.py
  src/services/ytdlp_service.py
Labels: Area: Services

Fix YouTube API key retrieval for thumbnail search
  src/services/youtube_service.py
Labels: Area: Services

Fix YouTube API key database lookup format
  src/services/youtube_service.py
Labels: Area: Services

Update CLAUDE.md with new development workflow
  CLAUDE.md
Labels: Area: Documentation

Update docker-build workflow to use dev branch for development builds
  .github/workflows/docker-build.yml
Labels: none

Fix critical security vulnerabilities - Phase 1
  requirements.txt
Labels: none

Complete comprehensive security audit implementation and vulnerability fixes
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  requirements.txt
Labels: none

Fix CI/CD pipeline issues and workflow improvements
  .github/workflows/build-dev.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/security-scan.yml
  docker-compose.yml
Labels: Area: Docker

Fix code formatting with Black 24.3.0 to resolve CI failures
  CLAUDE.md
  src/api/admin_interface.py
  src/api/artists.py
  src/api/lastfm.py
  src/api/optimization.py
  src/api/plex.py
  src/api/profile.py
  src/api/protected_endpoints.py
  src/api/spotify.py
  src/api/videos.py
  src/api/youtube_playlists.py
  src/auth_integration.py
  src/database/models.py
  src/middleware/auth_middleware.py
  src/services/artist_identification_service.py
  src/services/artist_service.py
  src/services/audit_service.py
  src/services/error_handling_service.py
  src/services/imvdb_service.py
  src/services/lastfm_service.py
  src/services/oauth_service.py
  src/services/plex_service.py
  src/services/scheduler_service.py
  src/services/settings_service.py
  src/services/video_discovery_service.py
  src/services/video_indexing_service.py
  src/services/youtube_playlist_service.py
  src/services/ytdlp_service.py
  src/utils/performance_tester.py
  src/utils/security.py
  src/utils/security_assessment.py
Labels: Area: API, Area: Database, Area: Services, Area: Utils, Area: Documentation

Complete Phase I security audit documentation and issue tracking
  CLAUDE.md
  SECURITY_AUDIT.md
Labels: Area: Documentation

Implement Phase 2 & 3 Security Objectives - Enterprise Security Complete
  .github/workflows/auth-security.yml
  .github/workflows/compliance-monitoring.yml
  .github/workflows/incident-response.yml
  .github/workflows/secret-scan.yml
  .github/workflows/security-policy-enforcement.yml
  .github/workflows/security-scan.yml
  .stversions/.env~20250723-144931.example
  .stversions/README~20250723-144931.md
  .stversions/frontend/templates/artists~20250723-144931.html
  .stversions/frontend/templates/base~20250723-144931.html
  .stversions/frontend/templates/mvtv~20250723-144931.html
  .stversions/frontend/templates/videos~20250723-144931.html
  .stversions/src/api/artists~20250723-144931.py
  .stversions/src/api/frontend~20250723-144931.py
  .stversions/src/api/videos~20250723-144931.py
  .stversions/~20250723-144931.env
  .stversions/~20250723-144931.gitignore
  CLAUDE.md
  SECURITY_AUDIT.md
Labels: Area: Documentation

Fix milestone 0.9.1 issues: IMVDb modal background, database settings display, and folder path generation
  fix_database_settings.py
  frontend/templates/artist_detail.html
  frontend/templates/settings.html
  src/api/artists.py
  src/api/settings.py
  src/api/videos.py
  src/services/youtube_playlist_service.py
Labels: Area: API, Area: Services

Fix Docker buildx cache error in GitHub Actions
  .github/workflows/docker-build.yml
Labels: none

Fix code formatting with Black and isort
  src/api/artists.py
  src/api/settings.py
  src/api/videos.py
  src/services/youtube_playlist_service.py
Labels: Area: API, Area: Services

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Add Ko-fi sponsorship support for MVidarr development
  .github/FUNDING.yml
Labels: none

Fix database settings display and text box color consistency
  frontend/templates/settings.html
Labels: none

Update MVidarr core system and security improvements
  .gitignore
  frontend/templates/base.html
  requirements.txt
  scripts/install.bat
  scripts/install.sh
  src/__init__.py
  src/api/auth.py
  src/api/health.py
  src/api/openapi.py
  src/api/simple_auth.py
  src/api/spotify.py
  src/database/models.py
  src/middleware/dynamic_auth_middleware.py
  src/security_config.py
  src/services/plex_service.py
  src/utils/security.py
  version.json
Labels: Area: API, Area: Database, Area: Services, Area: Utils

Fix #28: Update version display system with current git information
  version.json
Labels: none

Implement Video Search feature with IMVDb and YouTube integration
  frontend/templates/videos.html
  src/api/imvdb.py
  src/api/routes.py
  src/api/youtube.py
Labels: Area: API

Fix missing artist folder paths for YouTube imports
  src/api/artists.py
Labels: Area: API

Fix #16, #17, #18: Implement artist folder paths, sort names, and enhanced metadata
  SECURITY_SCAN_ANALYSIS.md
  check_folder_paths.py
  comprehensive-security-scan-297c48aee459614c9e038f840a809c8821adec99/container-security-summary.md
  comprehensive-security-scan-297c48aee459614c9e038f840a809c8821adec99/security-summary.md
  comprehensive-security-scan-297c48aee459614c9e038f840a809c8821adec99/trivy-comprehensive.sarif
  frontend/templates/artist_detail.html
  migrations/005_fix_missing_folder_paths.py
  migrations/006_add_sort_name_field.py
  scripts/fix_artist_folder_paths.py
  scripts/setup_code_review.sh
  scripts/setup_project_manager.sh
  src/api/artists.py
  src/api/lidarr.py
  src/api/videos.py
  src/database/models.py
  src/services/lastfm_service.py
  src/services/plex_service.py
  src/services/spotify_service.py
  src/services/video_indexing_service.py
  src/services/youtube_playlist_service.py
  src/utils/sort_name_generator.py
Labels: Area: API, Area: Database, Area: Services, Area: Utils, Area: Documentation

Fix video search functionality - YouTube API response mapping
  src/api/youtube.py
Labels: Area: API

Add comprehensive debugging to video search functionality
  frontend/templates/videos.html
Labels: none

Add robust error handling to video search result processing
  frontend/templates/videos.html
Labels: none

Fix video search results display with safer HTML generation
  frontend/templates/videos.html
Labels: none

Fix critical database schema error - restore application functionality
  src/api/artists.py
  src/api/lidarr.py
  src/api/videos.py
  src/database/models.py
  src/services/lastfm_service.py
  src/services/plex_service.py
  src/services/spotify_service.py
  src/services/video_indexing_service.py
  src/services/youtube_playlist_service.py
Labels: Area: API, Area: Database, Area: Services

Fix CI integration test failures and video search display issues
  Dockerfile.production
  entrypoint.sh
  frontend/templates/videos.html
Labels: Area: Docker

Fix video search results not displaying in Add Video modal
  frontend/templates/videos.html
Labels: none

Improve entrypoint script debugging for CI integration test failures
  entrypoint.sh
Labels: none

Update issues documentation and security audit records
  SECURITY_AUDIT.md
  docs/issues/Issues.md
  docs/issues/add_video.png
Labels: Area: Documentation

Add comprehensive debugging to entrypoint script for CI failure diagnosis
  entrypoint.sh
Labels: none

Fix video search results not displaying due to CSS conflicts and layout issues
  frontend/templates/videos.html
Labels: none

Fix Docker entrypoint script execution issues for CI debugging
  Dockerfile.production
  entrypoint.sh
Labels: Area: Docker

Add minimal test entrypoint to isolate CI execution issues
  Dockerfile.production
  entrypoint-test.sh
Labels: Area: Docker

Add comprehensive debug entrypoint to identify CI startup failure
  Dockerfile.production
  entrypoint-debug.sh
Labels: Area: Docker

Fix CI integration tests by properly handling database initialization
  Dockerfile.production
  entrypoint.sh
Labels: Area: Docker

Fix admin user password validation for secure CI environment
  src/database/init_db.py
Labels: Area: Database

Update admin password to avoid sequential patterns and weak terms
  src/database/init_db.py
Labels: Area: Database

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'
