Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

📋 Create comprehensive v1.0.0 Master TODO List
  V1.0.0_DEVELOPMENT_START.md
  V1.0.0_TODO_MASTER_LIST.md
Labels: Area: Documentation

✨ Add Installation Wizard backend infrastructure (Issue #163)
  fastapi_app.py
  src/api/fastapi/wizard.py
  src/api/fastapi/wizard_middleware.py
  src/database/init_db.py
  src/database/models.py
Labels: Area: API, Area: Database

🐛 Fix Docker build version.json to show correct commit hash (Issue #161)
  .github/workflows/docker-build.yml
  Dockerfile.production
  scripts/generate_version.py
Labels: Area: Docker

✨ Implement Alembic database migration system (Issue #92)
  alembic.ini
  alembic/README
  alembic/README_MIGRATIONS.md
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/79107aab2257_add_wizard_state_table_for_installation_.py
  scripts/manage_migrations.py
Labels: none

✨ Implement comprehensive Backup & Recovery system (Issue #93)
  fastapi_app.py
  scripts/manage_backups.py
  src/api/fastapi/backups.py
  src/services/backup_service.py
Labels: Area: API, Area: Services

✨ Add v1.0.0 comprehensive monitoring and health checks (Issue #95)
  src/api/fastapi/health.py
Labels: Area: API

📦 Add simple deployment guide for self-hosters
  .env.simple.example
  DEPLOYMENT.md
  docker-compose.simple.yml
  scripts/deployment/deploy.sh
  scripts/deployment/rollback.sh
  version.json
Labels: Area: Docker, Area: Documentation

🔧 Enable wizard first-run detection middleware (Issue #163 - Phase 1 Complete)
  fastapi_app.py
  version.json
Labels: none

🧙 Complete Installation Wizard frontend (Issue #163 - Phase 2 Complete)
  WIZARD_IMPLEMENTATION.md
  frontend/static/wizard.js
  frontend/templates/wizard.html
  version.json
Labels: Area: Documentation

🐛 Fix wizard redirect loop and add frontend route (Issue #163)
  reset_for_wizard_test.py
  src/api/fastapi/frontend_router.py
  src/api/fastapi/wizard_middleware.py
Labels: Area: API

🐛 Fix wizard admin account creation and middleware issues (Issue #163)
  frontend/static/wizard.js
  src/api/fastapi/wizard.py
  src/api/fastapi/wizard_middleware.py
Labels: Area: API

🐛 Fix session isolation issue in wizard admin creation
  src/api/fastapi/wizard.py
Labels: Area: API

✅ Fix wizard admin creation with fresh session (Issue #163)
  src/api/fastapi/wizard.py
Labels: Area: API

🐛 Fix wizard step completion and job status blocking (Issue #163)
  src/api/fastapi/wizard.py
  src/api/fastapi/wizard_middleware.py
Labels: Area: API

🐛 Fix IMVDB API key validation in wizard (Issue #163)
  src/api/fastapi/wizard.py
  src/services/imvdb/imvdb_client.py
Labels: Area: API, Area: Services

🚀 Migrate wizard video import from custom JobQueue to Celery (Issue #163)
  frontend/static/wizard.js
  src/api/fastapi/wizard.py
  src/api/fastapi/wizard_middleware.py
  src/jobs/celery_app.py
  src/jobs/wizard_tasks.py
Labels: Area: API

🐛 Fix /api/jobs/{job_id} to query Celery instead of redirecting
  src/api/fastapi/jobs.py
Labels: Area: API

🐛 Fix wizard to pass configured directory to Celery task
  src/api/fastapi/wizard.py
  src/jobs/wizard_tasks.py
Labels: Area: API

🐛 Fix wizard step sequencing and double-submission bugs (Issue #163)
  frontend/static/wizard.js
Labels: none

✨ Add post-import batch artist processing to wizard (Issue #163)
  src/api/fastapi/wizard.py
  src/jobs/wizard_tasks.py
  src/services/artist_auto_processing_service.py
  src/services/video_indexing_service.py
Labels: Area: API, Area: Services

Update version metadata with current commit information
  version.json
Labels: none

🐛 Fix wizard UI not syncing with backend step state (Issue #163)
  frontend/static/wizard.js
Labels: none

🐛 Fix session detachment in wizard video import (Issue #163)
  src/services/video_indexing_service.py
Labels: Area: Services

✨ Add real-time progress feedback and error reporting to wizard import (Issue #163)
  frontend/static/wizard.js
  frontend/templates/wizard.html
  src/jobs/wizard_tasks.py
Labels: none

✨ Add video import functionality to Settings > System page
  frontend/templates/settings.html
Labels: none

🐛 Fix video import directory detection in Settings > System
  frontend/templates/settings.html
Labels: none

✨ Improve duplicate detection UX in video import
  frontend/templates/settings.html
  src/jobs/wizard_tasks.py
Labels: none

✨ Add filesystem browser API for custom directory imports (Issue #164)
  fastapi_app.py
  src/api/fastapi/filesystem.py
Labels: Area: API

✨ Complete custom directory import with upload from PC feature
  frontend/templates/settings.html
  src/api/fastapi/wizard.py
  src/jobs/wizard_tasks.py
Labels: Area: API

♻️ Refactor Docker setup to use dedicated entrypoint script
  Dockerfile
  docker-compose.yml
  entrypoint.sh
  src/api/fastapi/frontend_router.py
  version.json
Labels: Area: API, Area: Docker

🐛 Fix hardcoded Redis hostname in entrypoint.sh
  entrypoint.sh
Labels: none

🔧 Fix permissions handling in entrypoint.sh
  entrypoint.sh
Labels: none

✨ Improve wizard UX with directory browser and better validation
  frontend/static/wizard.js
  frontend/templates/wizard.html
Labels: none

🔧 Fix filesystem API 503 error in wizard directory browser
  src/api/fastapi/wizard_middleware.py
Labels: Area: API

🎨 Fix transparent background in directory browser modal
  frontend/templates/wizard.html
Labels: none

🐛 Fix directory browser to show container paths, not host paths
  frontend/static/wizard.js
  frontend/templates/wizard.html
Labels: none

🔧 Add /dashboard route redirect to fix 404 error
  src/api/fastapi/frontend_router.py
Labels: Area: API

🐛 Fix merge artist button not enabling when 2+ artists selected
  frontend/templates/artists.html
Labels: none

🐛 Enable verbose logging for YouTube downloads to diagnose failures
  src/services/youtube_download_engine.py
Labels: Area: Services

🐛 Add Node.js to Docker image for yt-dlp JavaScript runtime
  Dockerfile
Labels: Area: Docker
