Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

Fix download completion callback not updating records
  src/services/unified_download_service.py
Labels: Area: Services

Change max_videos_per_discovery default from 5 to 50
  src/database/models.py
Labels: Area: Database

Expand YouTube discovery to find live performances and concerts
  src/jobs/celery_app.py
  src/services/youtube_search_service.py
Labels: Area: Services

Update version metadata with expanded video discovery
  version.json
Labels: none

Fix code formatting to pass CI/CD
  src/api/fastapi/artists_models.py
  src/api/fastapi/youtube_quota.py
  src/services/youtube_playlist_service.py
  src/utils/youtube_cache.py
Labels: Area: API, Area: Services, Area: Utils

Fix import sorting in youtube_quota.py
  src/api/fastapi/youtube_quota.py
Labels: Area: API

Fix Issue #190: Video delete with blacklist not saving to blacklist
  src/api/fastapi/videos_crud.py
Labels: Area: API

Update version metadata with blacklist fix
  version.json
Labels: none

Update documentation for v0.11.7 release
  CLAUDE.md
  docs/releases.md
  version.json
Labels: Area: Documentation

Add API optimization to v0.11.7 release notes
  CLAUDE.md
  docs/releases.md
  version.json
Labels: Area: Documentation

Update README.md for v0.11.7 release
  README.md
Labels: Area: Documentation

Improve artist thumbnail error handling and diagnostics
  src/api/fastapi/artists_thumbnails.py
  src/services/thumbnail_service.py
Labels: Area: API, Area: Services

Update version metadata with thumbnail error handling fix
  version.json
Labels: none

Fix frontend thumbnail search: correct data structure and API response
  frontend/templates/artist_detail.html
Labels: none

Improve thumbnail search with artist name variations
  src/services/wikipedia_service.py
  src/services/youtube_search_service.py
Labels: Area: Services

Fix URL escaping in thumbnail search results
  frontend/templates/artist_detail.html
Labels: none

Fix thumbnail scan not saving paths to database
  src/api/fastapi/artists_bulk.py
  src/api/fastapi/artists_thumbnails.py
Labels: Area: API

Add REDIS_HOST and REDIS_PORT to Docker Compose
  docker-compose.yml
Labels: Area: Docker

Update documentation for v0.11.8 release
  docs/CONFIGURATION_GUIDE.md
  docs/TROUBLESHOOTING.md
  docs/installation.md
  docs/releases.md
  src/__init__.py
  version.json
Labels: Area: Documentation

Fix thumbnail scan query to only check thumbnail_path
  src/api/fastapi/artists_thumbnails.py
Labels: Area: API

Fix artist thumbnail setting and bulk scan validation
  frontend/templates/artist_detail.html
  frontend/templates/artists.html
  src/api/fastapi/artists_thumbnails.py
Labels: Area: API

Fix Wikipedia rate limiting (429) for thumbnail downloads
  src/api/fastapi/artists_thumbnails.py
  src/services/thumbnail_service.py
Labels: Area: API, Area: Services

Use browser-like headers for Wikimedia downloads
  src/services/thumbnail_service.py
Labels: Area: Services

Prioritize Google Images over Wikipedia for artist thumbnails
  src/api/fastapi/artists_thumbnails.py
Labels: Area: API

Update documentation for v0.11.8 release
  CLAUDE.md
  version.json
Labels: Area: Documentation

Remove completed Issue #180 from v0.11.9 planning
  CLAUDE.md
Labels: Area: Documentation

Update releases.md and CHANGELOG.md for v0.11.8
  CHANGELOG.md
  docs/releases.md
Labels: Area: Documentation

Update README.md for v0.11.8 release
  README.md
Labels: Area: Documentation

Plan v0.11.9: Security dependency updates
  CLAUDE.md
Labels: Area: Documentation

Add video quality improvements to v0.11.9 plan
  CLAUDE.md
Labels: Area: Documentation

Clarify video quality flow using database settings in v0.11.9 plan
  CLAUDE.md
Labels: Area: Documentation

v0.11.9: Security updates and video quality improvements
  requirements-fastapi.txt
  requirements.txt
  src/services/youtube_download_engine.py
  version.json
Labels: Area: Services

Update version.json with commit hash
  version.json
Labels: none

Fix YouTube API key caching bug causing discovery to return 0 results
  src/services/youtube_search_service.py
  version.json
Labels: Area: Services

Update version.json with correct commit hash
  version.json
Labels: none

Fix code formatting for youtube_search_service.py
  src/services/youtube_search_service.py
Labels: Area: Services

Update documentation and version for v0.11.9 release
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/releases.md
  src/__init__.py
Labels: Area: Documentation

Update version.json with release commit hash
  version.json
Labels: none

Update version.json with release commit hash
  version.json
Labels: none

Fix CSP blocking Iconify and Socket.IO CDN scripts
  src/middleware/security_validation_middleware.py
Labels: none

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'
