Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'

Enhance search suggestions styling with proper theme integration
  frontend/templates/videos.html
Labels: none

Format code with Black and isort for CI/CD compliance
  src/api/artists.py
  src/api/enhanced_artist_discovery.py
  src/api/metadata_enrichment.py
  src/api/metube.py
  src/api/musicbrainz.py
  src/api/playlists.py
  src/api/routes.py
  src/api/security.py
  src/api/videos.py
  src/database/import_export_models.py
  src/database/performance_optimizations.py
  src/services/enhanced_artist_discovery_service.py
  src/services/export_service.py
  src/services/import_service.py
  src/services/imvdb_service.py
  src/services/lastfm_service.py
  src/services/metadata_enrichment_service.py
  src/services/metadata_validation_service.py
  src/services/musicbrainz_service.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Database, Area: Services

Fix playlist loading issue and add database migration system
  docs/DATABASE_MIGRATIONS.md
  frontend/templates/settings.html
  src/api/migrations.py
  src/api/routes.py
  src/database/init_db.py
  src/database/migrations.py
Labels: Area: API, Area: Database, Area: Documentation

Fix import error in migrations API causing container startup failure
  src/api/migrations.py
Labels: Area: API

Fix Last.fm credential loading issue causing 400 errors
  src/api/lastfm.py
  src/services/lastfm_service.py
Labels: Area: API, Area: Services

Update GitHub Pages with 0.9.7 release information
  releases.md
Labels: Area: Documentation

Prepare dev branch for 0.9.8 development cycle
  src/__init__.py
  version.json
Labels: none

Update README.md for 0.9.7 release
  README.md
Labels: Area: Documentation

Update GitHub Pages for 0.9.7 release
  about.md
  features.md
  index.md
  installation.md
Labels: Area: Documentation

Fix GitHub Actions release workflow permissions
  .github/workflows/release.yml
Labels: none

Fix GitHub Pages workflow to build from root directory
  .github/workflows/pages.yml
Labels: none

Move GitHub Pages files to docs/ directory for proper Jekyll processing
  docs/_config.yml
  docs/about.md
  docs/documentation.md
  docs/features.md
  docs/index.md
  docs/installation.md
  docs/releases.md
Labels: Area: Documentation

Fix GitHub Pages workflow for docs/ directory structure
  .github/workflows/pages.yml
  docs/_config.yml
Labels: Area: Documentation

Update 0.9.8 roadmap with restored scope and parallel development optimization
  0.9.7.todo.md
  0.9.7.todo.md.old
  0.9.8.todo.md
  _config.yml
  documentation.md
Labels: Area: Documentation

Add Issue #110 - Video Quality Management Enhancement to 0.9.8 roadmap
  0.9.8.todo.md
Labels: Area: Documentation

Implement AllMusic service integration for comprehensive music metadata
  requirements.txt
  src/services/allmusic_service.py
  src/services/metadata_enrichment_service.py
Labels: Area: Services

Implement complete dynamic playlists functionality (Issue #109)
  DYNAMIC_PLAYLISTS_IMPLEMENTATION.md
  frontend/static/js/playlists.js
  frontend/templates/artist_detail.html
  frontend/templates/playlists.html
  migrations/012_add_dynamic_playlists.py
  src/api/metadata_enrichment.py
  src/api/playlists.py
  src/database/migrations.py
  src/database/models.py
  src/services/allmusic_service.py
  src/services/dynamic_playlist_service.py
  src/services/metadata_enrichment_service.py
Labels: Area: API, Area: Database, Area: Services, Area: Documentation

Complete Issue #82 - Advanced IMVDB Integration with comprehensive enhancements
  0.9.8.todo.md
  src/api/imvdb.py
  src/services/imvdb_analytics_service.py
  src/services/imvdb_discovery_service.py
  src/services/imvdb_service.py
Labels: Area: API, Area: Services, Area: Documentation

Complete Issue #110 - Video Quality Management Enhancement
  frontend/templates/settings.html
  src/api/routes.py
  src/api/video_quality.py
  src/services/video_quality_service.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Services

🎵 Issue #79: Complete Enhanced Spotify Integration Implementation
  0.9.8.todo.md
  src/api/imvdb.py
  src/api/playlists.py
  src/api/spotify.py
  src/api/video_quality.py
  src/database/migrations.py
  src/database/models.py
  src/services/allmusic_service.py
  src/services/dynamic_playlist_service.py
  src/services/imvdb_analytics_service.py
  src/services/imvdb_discovery_service.py
  src/services/imvdb_service.py
  src/services/metadata_enrichment_service.py
  src/services/spotify_connect_service.py
  src/services/spotify_service.py
  src/services/video_quality_service.py
  src/services/ytdlp_service.py
Labels: Area: API, Area: Database, Area: Services, Area: Documentation

Issue #80: Implement comprehensive media server integration (FULL SCOPE)
  src/api/media_servers.py
  src/services/base_media_server_service.py
  src/services/emby_service.py
  src/services/jellyfin_service.py
  src/services/media_server_manager.py
  src/services/media_server_sync_service.py
Labels: Area: API, Area: Services

Issue #83: Complete Discogs integration for comprehensive metadata enrichment
  src/services/discogs_service.py
  src/services/metadata_enrichment_service.py
Labels: Area: Services

Implement comprehensive Spotify integration enhancements for Issue #79
  src/api/routes.py
  src/api/spotify_enhanced.py
  src/services/spotify_service.py
  src/services/spotify_sync_service.py
Labels: Area: API, Area: Services

Update 0.9.8 roadmap - Issue #79 Enhanced Spotify Integration COMPLETED
  0.9.8.todo.md
Labels: Area: Documentation

Add comprehensive integration tests for 0.9.8 features
  src/services/spotify_sync_service.py
  tests/integration/test_cross_service_integration.py
  tests/integration/test_media_server_integration.py
  tests/integration/test_metadata_providers_integration.py
  tests/integration/test_spotify_integration.py
Labels: Area: Services

Update version metadata for 0.9.8 milestone completion
  src/__init__.py
  version.json
Labels: none

Add comprehensive metadata services frontend interface
  frontend/templates/artist_detail.html
  frontend/templates/settings.html
Labels: none

Fix Settings services enabled status and add Spotify recommendations
  frontend/templates/artist_detail.html
  frontend/templates/settings.html
  src/api/metadata_enrichment_spotify.py
  src/api/routes.py
  src/services/spotify_service.py
Labels: Area: API, Area: Services

Fix metadata display issues and add comprehensive debugging
  frontend/templates/artist_detail.html
  src/api/metadata_enrichment_spotify.py
Labels: Area: API

Fix metadata access to properly display enriched data
  frontend/templates/artist_detail.html
Labels: none

Fix Spotify recommendations 404 error and add better error handling
  frontend/templates/artist_detail.html
Labels: none

🔧 CRITICAL FIX: Resolve metadata enrichment service issues
  0.9.8.usertesting.md
  CLAUDE.md
  docs/issues/artistdetail.png
  docs/issues/artistdetail2.png
  frontend/static/main.js
  frontend/templates/artist_detail.html
  src/api/artists.py
  src/api/metadata_enrichment.py
  src/api/musicbrainz.py
  src/api/spotify.py
  src/services/discogs_service.py
  src/services/lastfm_service.py
  src/services/metadata_enrichment_service.py
  src/services/musicbrainz_service.py
  src/services/spotify_service.py
  src/services/video_quality_service.py
  tests/__init__.py
  tests/api/__init__.py
  tests/ci/__init__.py
  tests/ci/conftest.py
  tests/conftest.py
  tests/functional/__init__.py
  tests/integration/__init__.py
  tests/integration/test_cross_service_integration.py
  tests/integration/test_media_server_integration.py
  tests/integration/test_metadata_providers_integration.py
  tests/integration/test_spotify_integration.py
  tests/maintenance/__init__.py
  tests/maintenance/conftest.py
  tests/monitoring/__init__.py
  tests/monitoring/conftest.py
  tests/monitoring/logs/test_execution_20250824_025056.jsonl
  tests/test_smoke.py
  tests/unit/__init__.py
  tests/visual/__init__.py
  tests/visual/conftest.py
Labels: Area: API, Area: Services, Area: Documentation

🔧 FIX: Add missing imvdb_metadata to artist API response
  src/api/artists.py
Labels: Area: API

🔧 FIX: Metadata merging logic in enrichment service
  src/services/metadata_enrichment_service.py
Labels: Area: Services

🔧 FIX: Connect 'Enrich from All Services' button to actual function
  frontend/templates/artist_detail.html
Labels: none

🔧 FIX: Pass event parameter to enrichMetadataAllSources function
  frontend/templates/artist_detail.html
Labels: none

Fix metadata display issues - consolidate data structure access
  frontend/templates/artist_detail.html
  headers.txt
Labels: none

Fix metadata access to support both enrichment and IMVDb data structures
  frontend/templates/artist_detail.html
Labels: none

Add debugging for enrichment API response and AllMusic data content
  frontend/templates/artist_detail.html
Labels: none

Fix success modal and data handling for enrichment response
  frontend/templates/artist_detail.html
Labels: none
