Repository prefect421/MVidarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Database, Area: Services, Area: Configuration, Area: Utils, Area: UI, Area: Docker, Area: Documentation

🐛 Fix Node.js installation using NodeSource repository
  Dockerfile
Labels: Area: Docker

🐛 Fix Node.js installation using official binaries instead of NodeSource
  Dockerfile
Labels: Area: Docker

🐛 Add xz-utils for Node.js binary extraction
  Dockerfile
Labels: Area: Docker

🐛 Force Docker cache rebuild to install xz-utils
  Dockerfile
Labels: Area: Docker

Fix Docker cache issue - reorder packages to force xz-utils installation
  Dockerfile
Labels: Area: Docker

🐛 CRITICAL FIX: Add Node.js runtime for yt-dlp YouTube downloads
  Dockerfile
  Dockerfile.production
  version.json
Labels: Area: Docker

⚡ Configure yt-dlp to use Node.js JavaScript runtime
  src/services/youtube_download_engine.py
  version.json
Labels: Area: Services

🎯 Enhance jobs dashboard to show completed job history from Redis
  src/api/fastapi/metadata_enrichment_jobs.py
  src/jobs/celery_app.py
  version.json
Labels: Area: API

⚡ Optimize jobs dashboard Redis scan to prevent timeouts
  src/api/fastapi/metadata_enrichment_jobs.py
Labels: Area: API

🐛 Fix timestamp format for jobs dashboard frontend compatibility
  src/api/fastapi/metadata_enrichment_jobs.py
Labels: Area: API

🐛 Fix timestamp display and add clear completed jobs feature
  frontend/templates/jobs.html
  src/api/fastapi/metadata_enrichment_jobs.py
Labels: Area: API

🐛 Fix Recent Jobs section to only show completed job history
  frontend/templates/jobs.html
Labels: none

✨ Add DELETE endpoint for theme management
  src/api/fastapi/themes.py
Labels: Area: API

✨ Add theme export endpoint
  src/api/fastapi/themes.py
Labels: Area: API

🐛 Fix theme export to handle empty theme list gracefully
  src/api/fastapi/themes.py
Labels: Area: API

Update version metadata with theme management features
  version.json
Labels: none

🐛 Fix built-in theme seeding for new installations
  scripts/seed_builtin_themes.py
  src/database/ensure_themes.py
  src/database/init_db.py
  version.json
Labels: Area: Database

Update version.json with final commit hash
  version.json
Labels: none

Fix version.json to show correct commit hash at build time (Closes #161)
  .github/workflows/ci-cd.yml
  scripts/generate_version.py
  version.json
Labels: none

Add Unraid installation support (Closes #97)
  docs/UNRAID_INSTALLATION.md
  docs/installation.md
  unraid-template.xml
Labels: Area: Documentation

Update documentation for v1.0.0 release (Issue #91)
  README.md
Labels: Area: Documentation

Add System Health Dashboard for home self-hosters (Closes #95)
  fastapi_app.py
  frontend/templates/base.html
  frontend/templates/system_health.html
  src/api/fastapi/system_health.py
  src/services/health_monitoring.py
Labels: Area: API, Area: Services

Add Maintenance Tools for home self-hosters (Closes #96)
  fastapi_app.py
  frontend/templates/base.html
  frontend/templates/maintenance.html
  src/api/fastapi/maintenance.py
  src/services/maintenance_tasks.py
Labels: Area: API, Area: Services

Add Personal Analytics & Collection Insights (Closes #137)
  fastapi_app.py
  frontend/templates/base.html
  frontend/templates/collection_stats.html
  src/api/fastapi/personal_insights.py
  src/services/personal_analytics.py
Labels: Area: API, Area: Services

Fix import errors in health monitoring and maintenance services
  src/services/health_monitoring.py
  src/services/maintenance_tasks.py
Labels: Area: Services

🐛 Fix template rendering for new dashboard pages
  src/api/fastapi/maintenance.py
  src/api/fastapi/personal_insights.py
  src/api/fastapi/system_health.py
  src/services/personal_analytics.py
Labels: Area: API, Area: Services

♻️ Move System Management tools to Settings page
  frontend/templates/base.html
  frontend/templates/settings.html
Labels: none

🐛 Fix System Health dashboard issues
  frontend/templates/system_health.html
  src/services/health_monitoring.py
Labels: Area: Services

🎨 Improve System Health progress bar visibility
  docs/issues/healthbar.png
  frontend/templates/system_health.html
Labels: Area: Documentation

🐛 Fix job system status check errors on page load
  frontend/templates/settings.html
Labels: none

🎨 Update System Health logs container to use theme accent text color
  frontend/templates/system_health.html
Labels: none

🎨 Replace all hardcoded colors with CSS theme variables in System Health page
  frontend/templates/system_health.html
Labels: none

🎨 Fix System Health page styling and layout issues
  frontend/templates/base.html
  frontend/templates/system_health.html
Labels: none

🎨 Apply theme-based styling and fix frontend issues
  frontend/templates/collection_stats.html
  frontend/templates/jobs.html
  frontend/templates/maintenance.html
  frontend/templates/settings.html
  src/services/maintenance_tasks.py
  src/services/personal_analytics.py
  version.json
Labels: Area: Services

🎯 Move Video Indexing to dedicated page under System Management Tools
  fastapi_app.py
  frontend/templates/settings.html
  frontend/templates/video_indexing.html
  src/api/fastapi/video_indexing_page.py
Labels: Area: API

🐛 Fix artist filtering by video count (0 videos filter now works)
  src/api/fastapi/artists_crud.py
Labels: Area: API

🐛 Fix bulk delete endpoint URL in artists page
  frontend/templates/artists.html
Labels: none

🎨 Fix Library Statistics layout - restore horizontal box layout
  frontend/templates/index.html
Labels: none

🎨 Fix artist detail page: remove button borders and fix stats layout
  frontend/CSS/buttons.css
  frontend/templates/artist_detail.html
Labels: none

🔧 Add cache-busting version to CSS files to force browser refresh
  frontend/templates/base.html
Labels: none

.github/labeler.yml:

'Area: API':
  - src/api/**/*

'Area: Database':
  - src/database/**/*

'Area: Services':
  - src/services/**/*

'Area: Configuration':
  - src/config/**/*

'Area: Utils':
  - src/utils/**/*

'Area: UI':
  - static/**/*
  - templates/**/*

'Area: Docker':
  - docker-compose*.yml
  - Dockerfile*

'Area: Documentation':
  - docs/**/*
  - README.md
  - '*.md'
